openapi: 3.2.0
info:
  title: Piknik.Spot Invitations API
  description: Piknik.Spot API with OAuth2 authentication, Model Context Protocol (MCP) support, and Agent-to-Agent (A2A) capabilities for AI-powered local food system interactions.
  version: 1.0.0
  contact:
    name: Piknik.Spot API Support
    url: https://piknik.spot
    email: info@piknik.spot
  license:
    name: Proprietary
    url: https://piknik.spot/terms
servers:
- url: https://piknik.spot/api
  description: Production Server
- url: http://localhost:3000/api
  description: Development Server
tags:
- name: Invitations
paths:
  /invitations/{token}/decline:
    post:
      summary: POST /invitations/{token}/decline
      description: Endpoint for /invitations/{token}/decline
      tags:
      - Invitations
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - bearerAuth: []
      - cookieAuth: []
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
        description: token identifier
      operationId: postInvitationsByTokenDecline
      x-operation-id-source: derived
  /invitations/{token}:
    get:
      summary: GET /invitations/{token}
      description: Endpoint for /invitations/{token}
      tags:
      - Invitations
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - bearerAuth: []
      - cookieAuth: []
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
        description: token identifier
      operationId: getInvitationsByToken
      x-operation-id-source: derived
    post:
      summary: POST /invitations/{token}
      description: Endpoint for /invitations/{token}
      tags:
      - Invitations
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - bearerAuth: []
      - cookieAuth: []
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
        description: token identifier
      operationId: postInvitationsByToken
      x-operation-id-source: derived
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
        error_description:
          type: string
          description: Detailed error description
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: next-auth.session-token
      description: Session-based authentication for web browsers
    oauth2:
      type: oauth2
      description: OAuth 2.0 authentication for external applications and AI agents
      flows:
        authorizationCode:
          authorizationUrl: https://piknik.spot/api/oauth/authorize
          tokenUrl: https://piknik.spot/api/oauth/token
          refreshUrl: https://piknik.spot/api/oauth/token
          scopes:
            marketplace:write: Create and manage marketplace listings
            events:write: Create and manage community events
            read:profile: Read user profile information
            write:profile: Update user profile information
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'OAuth2 access token (JWT). Include in Authorization header as: Bearer {token}'
