openapi: 3.2.0
info:
  title: Piknik Spot Community API
  version: 1.0.0
  contact:
    name: Piknik.Spot API Support
    url: https://piknik.spot
    email: info@piknik.spot
  license:
    name: Proprietary
    url: https://piknik.spot/terms
  description: 'Operations tagged Community across 2 of this provider''s published API definitions: piknik-spot-openapi.json, piknik-spot-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://piknik.spot/api
  description: Production Server
- url: http://localhost:3000/api
  description: Development Server
tags:
- name: Community
paths:
  /community/insights:
    get:
      summary: GET /community/insights
      description: Endpoint for /community/insights
      tags:
      - Community
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security: []
      operationId: getCommunityInsights
      x-operation-id-source: derived
    servers:
    - url: https://piknik.spot/api
      description: Production Server
    - url: http://localhost:3000/api
      description: Development Server
  /community/members:
    get:
      summary: 'Public response shape. STRUCTURAL GUARANTEE: this type does not include'
      tags:
      - Community
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security: []
      parameters:
      - name: q
        in: query
        schema:
          type: string
        description: Search query string
      - name: town
        in: query
        schema:
          type: string
        description: town parameter
      - name: province
        in: query
        schema:
          type: string
        description: province parameter
      - name: country
        in: query
        schema:
          type: string
        description: country parameter
      - name: page
        in: query
        schema:
          type: string
        description: page parameter
      - name: pageSize
        in: query
        schema:
          type: string
        description: pageSize parameter
      - name: lat
        in: query
        schema:
          type: number
          format: double
        description: Latitude coordinate
      - name: lng
        in: query
        schema:
          type: number
          format: double
        description: Longitude coordinate
      operationId: getCommunityMembers
      x-operation-id-source: derived
    servers:
    - url: https://piknik.spot/api
      description: Production Server
    - url: http://localhost:3000/api
      description: Development Server
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
        error_description:
          type: string
          description: Detailed error description
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: next-auth.session-token
      description: Session-based authentication for web browsers
    oauth2:
      type: oauth2
      description: OAuth 2.0 authentication for external applications and AI agents
      flows:
        authorizationCode:
          authorizationUrl: https://piknik.spot/api/oauth/authorize
          tokenUrl: https://piknik.spot/api/oauth/token
          refreshUrl: https://piknik.spot/api/oauth/token
          scopes:
            marketplace:write: Create and manage marketplace listings
            events:write: Create and manage community events
            read:profile: Read user profile information
            write:profile: Update user profile information
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'OAuth2 access token (JWT). Include in Authorization header as: Bearer {token}'
x-refined-from:
- piknik-spot-openapi.json
- piknik-spot-openapi.yml
