openapi: 3.2.0
info:
  title: Piknik.Spot Jobs API
  description: Piknik.Spot API with OAuth2 authentication, Model Context Protocol (MCP) support, and Agent-to-Agent (A2A) capabilities for AI-powered local food system interactions.
  version: 1.0.0
  contact:
    name: Piknik.Spot API Support
    url: https://piknik.spot
    email: info@piknik.spot
  license:
    name: Proprietary
    url: https://piknik.spot/terms
servers:
- url: https://piknik.spot/api
  description: Production Server
- url: http://localhost:3000/api
  description: Development Server
tags:
- name: Jobs
paths:
  /jobs/{jobId}/candidates:
    get:
      summary: GET /api/jobs/[jobId]/candidates
      tags:
      - Jobs
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - bearerAuth: []
      - cookieAuth: []
      parameters:
      - name: jobId
        in: path
        required: true
        schema:
          type: string
        description: jobId identifier
      operationId: getJobsByJobIdCandidates
      x-operation-id-source: derived
  /jobs/{jobId}:
    get:
      summary: GET /jobs/{jobId}
      description: Endpoint for /jobs/{jobId}
      tags:
      - Jobs
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - bearerAuth: []
      - cookieAuth: []
      parameters:
      - name: jobId
        in: path
        required: true
        schema:
          type: string
        description: jobId identifier
      operationId: getJobsByJobId
      x-operation-id-source: derived
    put:
      summary: PUT /jobs/{jobId}
      description: Endpoint for /jobs/{jobId}
      tags:
      - Jobs
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - bearerAuth: []
      - cookieAuth: []
      parameters:
      - name: jobId
        in: path
        required: true
        schema:
          type: string
        description: jobId identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      operationId: putJobsByJobId
      x-operation-id-source: derived
    delete:
      summary: DELETE /jobs/{jobId}
      description: Endpoint for /jobs/{jobId}
      tags:
      - Jobs
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - bearerAuth: []
      - cookieAuth: []
      parameters:
      - name: jobId
        in: path
        required: true
        schema:
          type: string
        description: jobId identifier
      operationId: deleteJobsByJobId
      x-operation-id-source: derived
  /jobs/public:
    get:
      summary: GET /jobs/public
      description: Endpoint for /jobs/public
      tags:
      - Jobs
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security: []
      parameters:
      - name: lat
        in: query
        schema:
          type: number
          format: double
        description: Latitude coordinate
      - name: lng
        in: query
        schema:
          type: number
          format: double
        description: Longitude coordinate
      - name: radius
        in: query
        schema:
          type: integer
        description: Search radius in kilometers
      - name: searchTerm
        in: query
        schema:
          type: string
        description: searchTerm parameter
      - name: skills
        in: query
        schema:
          type: string
        description: skills parameter
      - name: participantId
        in: query
        schema:
          type: string
        description: Participant identifier
      - name: limit
        in: query
        schema:
          type: integer
        description: Maximum number of results
      - name: offset
        in: query
        schema:
          type: integer
        description: Pagination offset
      operationId: getJobsPublic
      x-operation-id-source: derived
  /jobs/recommendations:
    get:
      summary: GET /api/jobs/recommendations
      tags:
      - Jobs
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - bearerAuth: []
      - cookieAuth: []
      parameters:
      - name: lat
        in: query
        schema:
          type: number
          format: double
        description: Latitude coordinate
      - name: lng
        in: query
        schema:
          type: number
          format: double
        description: Longitude coordinate
      operationId: getJobsRecommendations
      x-operation-id-source: derived
  /jobs:
    post:
      summary: POST /jobs
      description: Endpoint for /jobs
      tags:
      - Jobs
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - bearerAuth: []
      - cookieAuth: []
      parameters:
      - name: participantId
        in: query
        schema:
          type: string
        description: Participant identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      operationId: postJobs
      x-operation-id-source: derived
    get:
      summary: GET /jobs
      description: Endpoint for /jobs
      tags:
      - Jobs
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - bearerAuth: []
      - cookieAuth: []
      parameters:
      - name: participantId
        in: query
        schema:
          type: string
        description: Participant identifier
      operationId: getJobs
      x-operation-id-source: derived
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
        error_description:
          type: string
          description: Detailed error description
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: next-auth.session-token
      description: Session-based authentication for web browsers
    oauth2:
      type: oauth2
      description: OAuth 2.0 authentication for external applications and AI agents
      flows:
        authorizationCode:
          authorizationUrl: https://piknik.spot/api/oauth/authorize
          tokenUrl: https://piknik.spot/api/oauth/token
          refreshUrl: https://piknik.spot/api/oauth/token
          scopes:
            marketplace:write: Create and manage marketplace listings
            events:write: Create and manage community events
            read:profile: Read user profile information
            write:profile: Update user profile information
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'OAuth2 access token (JWT). Include in Authorization header as: Bearer {token}'
