openapi: 3.2.0
info:
  title: Piknik Spot Discussions API
  version: 1.0.0
  contact:
    name: Piknik.Spot API Support
    url: https://piknik.spot
    email: info@piknik.spot
  license:
    name: Proprietary
    url: https://piknik.spot/terms
  description: 'Operations tagged Discussions across 2 of this provider''s published API definitions: piknik-spot-openapi.json, piknik-spot-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://piknik.spot/api
  description: Production Server
- url: http://localhost:3000/api
  description: Development Server
tags:
- name: Discussions
paths:
  /discussions/categories/{slug}/jobs:
    get:
      summary: GET /discussions/categories/{slug}/jobs
      description: Endpoint for /discussions/categories/{slug}/jobs
      tags:
      - Discussions
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security: []
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
        description: slug identifier
      operationId: getDiscussionsCategoriesBySlugJobs
      x-operation-id-source: derived
    servers:
    - url: https://piknik.spot/api
      description: Production Server
    - url: http://localhost:3000/api
      description: Development Server
  /discussions/categories:
    get:
      summary: GET /discussions/categories
      description: Endpoint for /discussions/categories
      tags:
      - Discussions
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security: []
      operationId: getDiscussionsCategories
      x-operation-id-source: derived
    servers:
    - url: https://piknik.spot/api
      description: Production Server
    - url: http://localhost:3000/api
      description: Development Server
  /discussions/locations:
    get:
      summary: GET /discussions/locations
      description: Endpoint for /discussions/locations
      tags:
      - Discussions
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security: []
      operationId: getDiscussionsLocations
      x-operation-id-source: derived
    servers:
    - url: https://piknik.spot/api
      description: Production Server
    - url: http://localhost:3000/api
      description: Development Server
  /discussions/posts/{id}/replies:
    post:
      summary: POST /discussions/posts/{id}/replies
      description: Endpoint for /discussions/posts/{id}/replies
      tags:
      - Discussions
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - bearerAuth: []
      - cookieAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: id identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      operationId: postDiscussionsPostsByIdReplies
      x-operation-id-source: derived
    servers:
    - url: https://piknik.spot/api
      description: Production Server
    - url: http://localhost:3000/api
      description: Development Server
  /discussions/posts/{id}:
    get:
      summary: GET /discussions/posts/{id}
      description: Endpoint for /discussions/posts/{id}
      tags:
      - Discussions
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: id identifier
      operationId: getDiscussionsPostsById
      x-operation-id-source: derived
    servers:
    - url: https://piknik.spot/api
      description: Production Server
    - url: http://localhost:3000/api
      description: Development Server
  /discussions/posts:
    get:
      summary: GET /discussions/posts
      description: Endpoint for /discussions/posts
      tags:
      - Discussions
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - bearerAuth: []
      - cookieAuth: []
      parameters:
      - name: category
        in: query
        schema:
          type: string
        description: category parameter
      - name: town
        in: query
        schema:
          type: string
        description: town parameter
      - name: province
        in: query
        schema:
          type: string
        description: province parameter
      - name: country
        in: query
        schema:
          type: string
        description: country parameter
      - name: page
        in: query
        schema:
          type: string
        description: page parameter
      - name: pageSize
        in: query
        schema:
          type: string
        description: pageSize parameter
      operationId: getDiscussionsPosts
      x-operation-id-source: derived
    post:
      summary: POST /discussions/posts
      description: Endpoint for /discussions/posts
      tags:
      - Discussions
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - bearerAuth: []
      - cookieAuth: []
      parameters:
      - name: category
        in: query
        schema:
          type: string
        description: category parameter
      - name: town
        in: query
        schema:
          type: string
        description: town parameter
      - name: province
        in: query
        schema:
          type: string
        description: province parameter
      - name: country
        in: query
        schema:
          type: string
        description: country parameter
      - name: page
        in: query
        schema:
          type: string
        description: page parameter
      - name: pageSize
        in: query
        schema:
          type: string
        description: pageSize parameter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      operationId: postDiscussionsPosts
      x-operation-id-source: derived
    servers:
    - url: https://piknik.spot/api
      description: Production Server
    - url: http://localhost:3000/api
      description: Development Server
  /discussions/subscriptions:
    get:
      summary: GET /discussions/subscriptions
      description: Endpoint for /discussions/subscriptions
      tags:
      - Discussions
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - bearerAuth: []
      - cookieAuth: []
      parameters:
      - name: categorySlug
        in: query
        schema:
          type: string
        description: categorySlug parameter
      operationId: getDiscussionsSubscriptions
      x-operation-id-source: derived
    post:
      summary: POST /discussions/subscriptions
      description: Endpoint for /discussions/subscriptions
      tags:
      - Discussions
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - bearerAuth: []
      - cookieAuth: []
      parameters:
      - name: categorySlug
        in: query
        schema:
          type: string
        description: categorySlug parameter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      operationId: postDiscussionsSubscriptions
      x-operation-id-source: derived
    delete:
      summary: DELETE /discussions/subscriptions
      description: Endpoint for /discussions/subscriptions
      tags:
      - Discussions
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - bearerAuth: []
      - cookieAuth: []
      parameters:
      - name: categorySlug
        in: query
        schema:
          type: string
        description: categorySlug parameter
      operationId: deleteDiscussionsSubscriptions
      x-operation-id-source: derived
    servers:
    - url: https://piknik.spot/api
      description: Production Server
    - url: http://localhost:3000/api
      description: Development Server
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
        error_description:
          type: string
          description: Detailed error description
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: next-auth.session-token
      description: Session-based authentication for web browsers
    oauth2:
      type: oauth2
      description: OAuth 2.0 authentication for external applications and AI agents
      flows:
        authorizationCode:
          authorizationUrl: https://piknik.spot/api/oauth/authorize
          tokenUrl: https://piknik.spot/api/oauth/token
          refreshUrl: https://piknik.spot/api/oauth/token
          scopes:
            marketplace:write: Create and manage marketplace listings
            events:write: Create and manage community events
            read:profile: Read user profile information
            write:profile: Update user profile information
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'OAuth2 access token (JWT). Include in Authorization header as: Bearer {token}'
x-refined-from:
- piknik-spot-openapi.json
- piknik-spot-openapi.yml
