openapi: 3.0.3
info:
  title: Piknik.Spot API
  version: 1.0.0
  description: Piknik.Spot API with OAuth2 authentication, Model Context Protocol (MCP) support, and Agent-to-Agent (A2A) capabilities for AI-powered local food system interactions.
servers:
  - url: https://piknik.spot/api
    description: Production Server
  - url: http://localhost:3000/api
    description: Development Server
paths:
  /a2a:
    get:
      summary: GET /a2a
      description: Endpoint for /a2a
    post:
      summary: POST /a2a
      description: Endpoint for /a2a
  /admin/agent-settings:
    get:
      summary: GET /admin/agent-settings
      description: Endpoint for /admin/agent-settings
    put:
      summary: PUT /admin/agent-settings
      description: Endpoint for /admin/agent-settings
  /admin/announcements/cleanup:
    post:
      summary: POST /admin/announcements/cleanup
      description: Endpoint for /admin/announcements/cleanup
    get:
      summary: GET /admin/announcements/cleanup
      description: Endpoint for /admin/announcements/cleanup
  /admin/associations/{id}/memberships/bulk:
    post:
      summary: POST /admin/associations/{id}/memberships/bulk
      description: Endpoint for /admin/associations/{id}/memberships/bulk
  /admin/associations/{id}/memberships:
    get:
      summary: GET /admin/associations/{id}/memberships
      description: Endpoint for /admin/associations/{id}/memberships
    delete:
      summary: DELETE /admin/associations/{id}/memberships
      description: Endpoint for /admin/associations/{id}/memberships
    patch:
      summary: PATCH /admin/associations/{id}/memberships
      description: Endpoint for /admin/associations/{id}/memberships
  /admin/associations/{id}:
    get:
      summary: GET /admin/associations/{id}
      description: Endpoint for /admin/associations/{id}
    put:
      summary: PUT /admin/associations/{id}
      description: Endpoint for /admin/associations/{id}
    delete:
      summary: DELETE /admin/associations/{id}
      description: Endpoint for /admin/associations/{id}
  /admin/associations/{id}/surveys:
    get:
      summary: GET /admin/associations/{id}/surveys
      description: Endpoint for /admin/associations/{id}/surveys
    post:
      summary: POST /admin/associations/{id}/surveys
      description: Endpoint for /admin/associations/{id}/surveys
  /admin/associations:
    get:
      summary: GET /admin/associations
      description: Endpoint for /admin/associations
    post:
      summary: POST /admin/associations
      description: Endpoint for /admin/associations
  /admin/associations/verification-queue:
    get:
      summary: GET /admin/associations/verification-queue
      description: Endpoint for /admin/associations/verification-queue
  /admin/associations/verify/{membershipId}:
    put:
      summary: PUT /admin/associations/verify/{membershipId}
      description: Endpoint for /admin/associations/verify/{membershipId}
  /admin/campaign-batch:
    post:
      summary: POST /api/admin/campaign-batch
      description: POST /api/admin/campaign-batch
  /admin/campaign-status:
    get:
      summary: GET /admin/campaign-status
      description: Endpoint for /admin/campaign-status
  /admin/categories/{id}:
    get:
      summary: GET /admin/categories/{id}
      description: Endpoint for /admin/categories/{id}
    patch:
      summary: PATCH /admin/categories/{id}
      description: Endpoint for /admin/categories/{id}
    delete:
      summary: DELETE /admin/categories/{id}
      description: Endpoint for /admin/categories/{id}
  /admin/categories/reorder:
    post:
      summary: POST /api/admin/categories/reorder
      description: POST /api/admin/categories/reorder
  /admin/categories:
    get:
      summary: GET /admin/categories
      description: Endpoint for /admin/categories
    post:
      summary: POST /admin/categories
      description: Endpoint for /admin/categories
  /admin/event-sources/{id}:
    get:
      summary: GET /admin/event-sources/{id}
      description: Endpoint for /admin/event-sources/{id}
    put:
      summary: PUT /admin/event-sources/{id}
      description: Endpoint for /admin/event-sources/{id}
    delete:
      summary: DELETE /admin/event-sources/{id}
      description: Endpoint for /admin/event-sources/{id}
  /admin/event-sources:
    get:
      summary: GET /admin/event-sources
      description: Endpoint for /admin/event-sources
    post:
      summary: POST /admin/event-sources
      description: Endpoint for /admin/event-sources
  /admin/events/recurrence:
    post:
      summary: POST /admin/events/recurrence
      description: Endpoint for /admin/events/recurrence
    get:
      summary: GET /admin/events/recurrence
      description: Endpoint for /admin/events/recurrence
  /admin/fee-profiles/{id}/assignments/{assignmentId}:
    delete:
      summary: DELETE /admin/fee-profiles/{id}/assignments/{assignmentId}
      description: Endpoint for /admin/fee-profiles/{id}/assignments/{assignmentId}
  /admin/fee-profiles/{id}/assignments:
    post:
      summary: POST /admin/fee-profiles/{id}/assignments
      description: Endpoint for /admin/fee-profiles/{id}/assignments
  /admin/fee-profiles/{id}:
    put:
      summary: PUT /admin/fee-profiles/{id}
      description: Endpoint for /admin/fee-profiles/{id}
    delete:
      summary: DELETE /admin/fee-profiles/{id}
      description: Endpoint for /admin/fee-profiles/{id}
  /admin/fee-profiles:
    get:
      summary: GET /admin/fee-profiles
      description: Endpoint for /admin/fee-profiles
    post:
      summary: POST /admin/fee-profiles
      description: Endpoint for /admin/fee-profiles
  /admin/for-towns-pdf:
    post:
      summary: POST /admin/for-towns-pdf
      description: Endpoint for /admin/for-towns-pdf
  /admin/frost-dates/import:
    post:
      summary: POST /admin/frost-dates/import
      description: Endpoint for /admin/frost-dates/import
  /admin/frost-dates:
    get:
      summary: GET /admin/frost-dates
      description: Endpoint for /admin/frost-dates
  /admin/games/{id}:
    put:
      summary: PUT /admin/games/{id}
      description: Endpoint for /admin/games/{id}
    get:
      summary: GET /admin/games/{id}
      description: Endpoint for /admin/games/{id}
    delete:
      summary: DELETE /admin/games/{id}
      description: Endpoint for /admin/games/{id}
  /admin/games/place-interests:
    get:
      summary: GET /admin/games/place-interests
      description: Endpoint for /admin/games/place-interests
    patch:
      summary: PATCH /admin/games/place-interests
      description: Endpoint for /admin/games/place-interests
  /admin/games:
    post:
      summary: POST /admin/games
      description: Endpoint for /admin/games
    get:
      summary: GET /admin/games
      description: Endpoint for /admin/games
  /admin/geocode-missing:
    post:
      summary: POST /admin/geocode-missing
      description: Endpoint for /admin/geocode-missing
  /admin/global-features:
    get:
      summary: GET /api/admin/global-features
      description: GET /api/admin/global-features
    post:
      summary: GET /api/admin/global-features
      description: GET /api/admin/global-features
  /admin/global-features/seed:
    post:
      summary: POST /api/admin/global-features/seed
      description: POST /api/admin/global-features/seed
  /admin/grant-feature:
    post:
      summary: POST /api/admin/grant-feature
      description: POST /api/admin/grant-feature
    get:
      summary: POST /api/admin/grant-feature
      description: POST /api/admin/grant-feature
  /admin/missing-coords:
    get:
      summary: GET /admin/missing-coords
      description: Endpoint for /admin/missing-coords
  /admin/neighborhoods/discover-osm:
    get:
      summary: GET /admin/neighborhoods/discover-osm
      description: Endpoint for /admin/neighborhoods/discover-osm
  /admin/neighborhoods/waterloo-region/{id}:
    put:
      summary: PUT /admin/neighborhoods/waterloo-region/{id}
      description: Endpoint for /admin/neighborhoods/waterloo-region/{id}
    delete:
      summary: DELETE /admin/neighborhoods/waterloo-region/{id}
      description: Endpoint for /admin/neighborhoods/waterloo-region/{id}
  /admin/neighborhoods/waterloo-region/rebuild:
    post:
      summary: POST /admin/neighborhoods/waterloo-region/rebuild
      description: Endpoint for /admin/neighborhoods/waterloo-region/rebuild
  /admin/neighborhoods/waterloo-region:
    get:
      summary: GET /admin/neighborhoods/waterloo-region
      description: Endpoint for /admin/neighborhoods/waterloo-region
    post:
      summary: POST /admin/neighborhoods/waterloo-region
      description: Endpoint for /admin/neighborhoods/waterloo-region
    put:
      summary: PUT /admin/neighborhoods/waterloo-region
      description: Endpoint for /admin/neighborhoods/waterloo-region
  /admin/neighborhoods/waterloo-region/samples:
    get:
      summary: GET /admin/neighborhoods/waterloo-region/samples
      description: Endpoint for /admin/neighborhoods/waterloo-region/samples
  /admin/notifications:
    get:
      summary: GET /admin/notifications
      description: Endpoint for /admin/notifications
  /admin/osm-explorer/connections:
    get:
      summary: GET /admin/osm-explorer/connections
      description: Endpoint for /admin/osm-explorer/connections
  /admin/osm-explorer/ignored-names:
    get:
      summary: GET /admin/osm-explorer/ignored-names
      description: Endpoint for /admin/osm-explorer/ignored-names
    post:
      summary: POST /admin/osm-explorer/ignored-names
      description: Endpoint for /admin/osm-explorer/ignored-names
  /admin/osm-explorer/local-food-score:
    get:
      summary: GET /admin/osm-explorer/local-food-score
      description: Endpoint for /admin/osm-explorer/local-food-score
  /admin/osm-explorer/neighborhood-match:
    get:
      summary: GET /admin/osm-explorer/neighborhood-match
      description: Endpoint for /admin/osm-explorer/neighborhood-match
  /admin/osm-explorer/reverse-geocode:
    get:
      summary: GET /admin/osm-explorer/reverse-geocode
      description: Endpoint for /admin/osm-explorer/reverse-geocode
  /admin/osm-explorer:
    get:
      summary: GET /admin/osm-explorer
      description: Endpoint for /admin/osm-explorer
  /admin/osm-explorer/simulate:
    post:
      summary: POST /admin/osm-explorer/simulate
      description: Endpoint for /admin/osm-explorer/simulate
  /admin/participants/import:
    post:
      summary: POST /admin/participants/import
      description: Endpoint for /admin/participants/import
  /admin/participants/notify:
    post:
      summary: POST /api/admin/participants/notify
      description: POST /api/admin/participants/notify
  /admin/participants:
    get:
      summary: GET /admin/participants
      description: Endpoint for /admin/participants
  /admin/participants/template:
    get:
      summary: GET /admin/participants/template
      description: Endpoint for /admin/participants/template
  /admin/participants/verify/generate-link:
    post:
      summary: POST /api/admin/participants/verify/generate-link
      description: POST /api/admin/participants/verify/generate-link
  /admin/performance:
    get:
      summary: GET /admin/performance
      description: Endpoint for /admin/performance
  /admin/places/google-places:
    post:
      summary: POST /admin/places/google-places
      description: Endpoint for /admin/places/google-places
  /admin/places/store-qr/{participantId}/pdf:
    get:
      summary: GET /admin/places/store-qr/{participantId}/pdf
      description: Endpoint for /admin/places/store-qr/{participantId}/pdf
  /admin/places/store-qr:
    get:
      summary: GET /admin/places/store-qr
      description: Endpoint for /admin/places/store-qr
    put:
      summary: PUT /admin/places/store-qr
      description: Endpoint for /admin/places/store-qr
  /admin/planting-guides/import:
    post:
      summary: POST /admin/planting-guides/import
      description: Endpoint for /admin/planting-guides/import
  /admin/planting-guides:
    get:
      summary: GET /admin/planting-guides
      description: Endpoint for /admin/planting-guides
  /admin/products/{id}:
    get:
      summary: GET /admin/products/{id}
      description: Endpoint for /admin/products/{id}
    patch:
      summary: PATCH /admin/products/{id}
      description: Endpoint for /admin/products/{id}
    delete:
      summary: DELETE /admin/products/{id}
      description: Endpoint for /admin/products/{id}
  /admin/products:
    get:
      summary: GET /admin/products
      description: Endpoint for /admin/products
    post:
      summary: POST /admin/products
      description: Endpoint for /admin/products
  /admin/provenance-categories:
    get:
      summary: GET /api/admin/provenance-categories?days=30[&participantId=...]
      description: GET /api/admin/provenance-categories?days=30[&participantId=...]
  /admin/provenance-reports/place-interest:
    get:
      summary: GET /api/admin/provenance-reports/place-interest?participantId=...&days=30
      description: GET /api/admin/provenance-reports/place-interest?participantId=...&days=30
  /admin/provenance-reports/producer-demand:
    get:
      summary: GET /api/admin/provenance-reports/producer-demand?producerId=...&days=30
      description: GET /api/admin/provenance-reports/producer-demand?producerId=...&days=30
  /admin/provenance-reports/producer-leads:
    get:
      summary: GET /api/admin/provenance-reports/producer-leads?producerId=...&days=30
      description: GET /api/admin/provenance-reports/producer-leads?producerId=...&days=30
  /admin/provenance-reports/regional-trend:
    get:
      summary: GET /api/admin/provenance-reports/regional-trend?days=90[&region=...]
      description: GET /api/admin/provenance-reports/regional-trend?days=90[&region=...]
  /admin/real-estate-pdf/bulk:
    post:
      summary: POST /admin/real-estate-pdf/bulk
      description: Endpoint for /admin/real-estate-pdf/bulk
  /admin/real-estate-pdf/connectivity-audit:
    get:
      summary: GET /admin/real-estate-pdf/connectivity-audit
      description: Endpoint for /admin/real-estate-pdf/connectivity-audit
  /admin/real-estate-pdf/cover-letter:
    get:
      summary: GET /admin/real-estate-pdf/cover-letter
      description: Endpoint for /admin/real-estate-pdf/cover-letter
  /admin/recipes/db:
    get:
      summary: GET /admin/recipes/db
      description: Endpoint for /admin/recipes/db
  /admin/regional-score/apply-connection:
    post:
      summary: POST /admin/regional-score/apply-connection
      description: Endpoint for /admin/regional-score/apply-connection
  /admin/regional-score/regions:
    get:
      summary: GET /admin/regional-score/regions
      description: Endpoint for /admin/regional-score/regions
  /admin/score-cache:
    get:
      summary: GET /admin/score-cache
      description: Endpoint for /admin/score-cache
    post:
      summary: POST /admin/score-cache
      description: Endpoint for /admin/score-cache
  /admin/set-gps:
    post:
      summary: POST /admin/set-gps
      description: Endpoint for /admin/set-gps
  /admin/settings:
    get:
      summary: Get admin settings
      description: Get admin settings
    patch:
      summary: Get admin settings
      description: Get admin settings
  /admin/sponsorships/{id}:
    patch:
      summary: PATCH /admin/sponsorships/{id}
      description: Endpoint for /admin/sponsorships/{id}
    delete:
      summary: DELETE /admin/sponsorships/{id}
      description: Endpoint for /admin/sponsorships/{id}
  /admin/sponsorships:
    get:
      summary: GET /admin/sponsorships
      description: Endpoint for /admin/sponsorships
    post:
      summary: POST /admin/sponsorships
      description: Endpoint for /admin/sponsorships
  /admin/stats:
    get:
      summary: GET /admin/stats
      description: Endpoint for /admin/stats
  /admin/store-qr/default-layout:
    get:
      summary: GET /admin/store-qr/default-layout
      description: Endpoint for /admin/store-qr/default-layout
    put:
      summary: PUT /admin/store-qr/default-layout
      description: Endpoint for /admin/store-qr/default-layout
  /admin/surveys/{id}:
    get:
      summary: GET /admin/surveys/{id}
      description: Endpoint for /admin/surveys/{id}
    put:
      summary: PUT /admin/surveys/{id}
      description: Endpoint for /admin/surveys/{id}
    delete:
      summary: DELETE /admin/surveys/{id}
      description: Endpoint for /admin/surveys/{id}
  /admin/surveys:
    get:
      summary: GET /admin/surveys
      description: Endpoint for /admin/surveys
    post:
      summary: POST /admin/surveys
      description: Endpoint for /admin/surveys
  /admin/tasks:
    get:
      summary: GET /admin/tasks
      description: Endpoint for /admin/tasks
  /admin/template:
    get:
      summary: GET /admin/template
      description: Endpoint for /admin/template
  /admin/users/{id}/admin:
    put:
      summary: PUT /admin/users/{id}/admin
      description: Endpoint for /admin/users/{id}/admin
  /admin/users/{id}/email:
    put:
      summary: PUT /admin/users/{id}/email
      description: Endpoint for /admin/users/{id}/email
  /admin/users/admin-info:
    get:
      summary: GET /admin/users/admin-info
      description: Endpoint for /admin/users/admin-info
  /admin/users:
    get:
      summary: GET /admin/users
      description: Endpoint for /admin/users
  /admin/users/search:
    get:
      summary: GET /api/admin/users/search?email=xxx
      description: GET /api/admin/users/search?email=xxx
  /admin/widget-access:
    get:
      summary: GET /api/admin/widget-access
      description: GET /api/admin/widget-access
    post:
      summary: GET /api/admin/widget-access
      description: GET /api/admin/widget-access
    delete:
      summary: GET /api/admin/widget-access
      description: GET /api/admin/widget-access
  /admin/widget-usage:
    get:
      summary: GET /api/admin/widget-usage
      description: GET /api/admin/widget-usage
  /agents/admin/ban_agent:
    post:
      summary: POST /agents/admin/ban_agent
      description: Endpoint for /agents/admin/ban_agent
  /agents/association/{id}/card:
    get:
      summary: GET /agents/association/{id}/card
      description: Endpoint for /agents/association/{id}/card
  /agents/association/{id}/get_benefits:
    post:
      summary: POST /agents/association/{id}/get_benefits
      description: Endpoint for /agents/association/{id}/get_benefits
    get:
      summary: GET /agents/association/{id}/get_benefits
      description: Endpoint for /agents/association/{id}/get_benefits
  /agents/association/{id}/get_info:
    post:
      summary: POST /agents/association/{id}/get_info
      description: Endpoint for /agents/association/{id}/get_info
    get:
      summary: GET /agents/association/{id}/get_info
      description: Endpoint for /agents/association/{id}/get_info
  /agents/association/{id}/list_members:
    post:
      summary: POST /agents/association/{id}/list_members
      description: Endpoint for /agents/association/{id}/list_members
    get:
      summary: GET /agents/association/{id}/list_members
      description: Endpoint for /agents/association/{id}/list_members
  /agents/association/{id}/membership_info:
    post:
      summary: POST /agents/association/{id}/membership_info
      description: Endpoint for /agents/association/{id}/membership_info
    get:
      summary: GET /agents/association/{id}/membership_info
      description: Endpoint for /agents/association/{id}/membership_info
  /agents/participant/{id}/add_offering:
    post:
      summary: POST /agents/participant/{id}/add_offering
      description: Endpoint for /agents/participant/{id}/add_offering
  /agents/participant/{id}/card:
    get:
      summary: GET /agents/participant/{id}/card
      description: Endpoint for /agents/participant/{id}/card
  /agents/participant/{id}/challenge_status:
    post:
      summary: POST /agents/participant/{id}/challenge_status
      description: Endpoint for /agents/participant/{id}/challenge_status
  /agents/participant/{id}/get_analytics:
    post:
      summary: POST /agents/participant/{id}/get_analytics
      description: Endpoint for /agents/participant/{id}/get_analytics
  /agents/participant/{id}/get_associations:
    post:
      summary: POST /agents/participant/{id}/get_associations
      description: Endpoint for /agents/participant/{id}/get_associations
  /agents/participant/{id}/get_capabilities:
    post:
      summary: POST /agents/participant/{id}/get_capabilities
      description: Endpoint for /agents/participant/{id}/get_capabilities
  /agents/participant/{id}/get_events:
    post:
      summary: POST /agents/participant/{id}/get_events
      description: Endpoint for /agents/participant/{id}/get_events
  /agents/participant/{id}/get_hours:
    post:
      summary: POST /agents/participant/{id}/get_hours
      description: Endpoint for /agents/participant/{id}/get_hours
  /agents/participant/{id}/get_messages:
    post:
      summary: POST /agents/participant/{id}/get_messages
      description: Endpoint for /agents/participant/{id}/get_messages
  /agents/participant/{id}/get_profile:
    post:
      summary: POST /agents/participant/{id}/get_profile
      description: Endpoint for /agents/participant/{id}/get_profile
  /agents/participant/{id}/get_resellers:
    post:
      summary: POST /agents/participant/{id}/get_resellers
      description: Endpoint for /agents/participant/{id}/get_resellers
  /agents/participant/{id}/get_reviews:
    post:
      summary: POST /agents/participant/{id}/get_reviews
      description: Endpoint for /agents/participant/{id}/get_reviews
  /agents/participant/{id}/get_suppliers:
    post:
      summary: POST /agents/participant/{id}/get_suppliers
      description: Endpoint for /agents/participant/{id}/get_suppliers
  /agents/participant/{id}/list_offerings:
    post:
      summary: POST /agents/participant/{id}/list_offerings
      description: Endpoint for /agents/participant/{id}/list_offerings
  /agents/participant/{id}/send_inquiry:
    post:
      summary: POST /agents/participant/{id}/send_inquiry
      description: Endpoint for /agents/participant/{id}/send_inquiry
  /agents/participant/{id}/update_hours:
    post:
      summary: POST /agents/participant/{id}/update_hours
      description: Endpoint for /agents/participant/{id}/update_hours
  /agents/participant/{id}/update_offering:
    post:
      summary: POST /agents/participant/{id}/update_offering
      description: Endpoint for /agents/participant/{id}/update_offering
  /agents/participant/{id}/update_place:
    post:
      summary: POST /agents/participant/{id}/update_place
      description: Endpoint for /agents/participant/{id}/update_place
  /agents/platform/approve_task:
    post:
      summary: POST /agents/platform/approve_task
      description: Endpoint for /agents/platform/approve_task
  /agents/platform/card:
    get:
      summary: GET /agents/platform/card
      description: Endpoint for /agents/platform/card
  /agents/platform/claim_task:
    post:
      summary: POST /agents/platform/claim_task
      description: Endpoint for /agents/platform/claim_task
  /agents/platform/create_place:
    post:
      summary: POST /agents/platform/create_place
      description: Endpoint for /agents/platform/create_place
  /agents/platform/discover_businesses:
    post:
      summary: POST /agents/platform/discover_businesses
      description: Endpoint for /agents/platform/discover_businesses
  /agents/platform/get_platform_info:
    post:
      summary: POST /agents/platform/get_platform_info
      description: Endpoint for /agents/platform/get_platform_info
  /agents/platform/get_task:
    post:
      summary: POST /agents/platform/get_task
      description: Endpoint for /agents/platform/get_task
  /agents/platform/list_tasks:
    post:
      summary: POST /agents/platform/list_tasks
      description: Endpoint for /agents/platform/list_tasks
  /agents/platform/rate_limit_status:
    get:
      summary: GET /agents/platform/rate_limit_status
      description: Endpoint for /agents/platform/rate_limit_status
  /agents/platform/search_products:
    post:
      summary: POST /agents/platform/search_products
      description: Endpoint for /agents/platform/search_products
  /agents/platform/submit_task_response:
    post:
      summary: POST /agents/platform/submit_task_response
      description: Endpoint for /agents/platform/submit_task_response
  /agents/platform/suggest_connection:
    post:
      summary: POST /agents/platform/suggest_connection
      description: Endpoint for /agents/platform/suggest_connection
  /agents/platform/suggest_place:
    post:
      summary: POST /agents/platform/suggest_place
      description: Endpoint for /agents/platform/suggest_place
  /agents/platform/suggest_product:
    post:
      summary: POST /agents/platform/suggest_product
      description: Endpoint for /agents/platform/suggest_product
  /agents/public/place-summary:
    get:
      summary: Thin public place summaries for AI agents.
      description: Thin public place summaries for AI agents.
  /agents/registry:
    get:
      summary: GET /agents/registry
      description: Endpoint for /agents/registry
  /agents/task-processor/process:
    post:
      summary: POST /agents/task-processor/process
      description: Endpoint for /agents/task-processor/process
  /agents/tasks/create:
    post:
      summary: POST /agents/tasks/create
      description: Endpoint for /agents/tasks/create
  /agents/tasks/status/{taskId}:
    get:
      summary: GET /agents/tasks/status/{taskId}
      description: Endpoint for /agents/tasks/status/{taskId}
  /agritourism/campaigns/{id}/analytics:
    get:
      summary: GET /agritourism/campaigns/{id}/analytics
      description: Endpoint for /agritourism/campaigns/{id}/analytics
  /agritourism/campaigns/{id}/locations/{participantId}:
    delete:
      summary: DELETE /agritourism/campaigns/{id}/locations/{participantId}
      description: Endpoint for /agritourism/campaigns/{id}/locations/{participantId}
  /agritourism/campaigns/{id}/locations:
    post:
      summary: POST /agritourism/campaigns/{id}/locations
      description: Endpoint for /agritourism/campaigns/{id}/locations
  /agritourism/campaigns/{id}/opt-in:
    post:
      summary: POST /agritourism/campaigns/{id}/opt-in
      description: Endpoint for /agritourism/campaigns/{id}/opt-in
  /agritourism/campaigns/{id}/participant-stats:
    get:
      summary: GET /agritourism/campaigns/{id}/participant-stats
      description: Endpoint for /agritourism/campaigns/{id}/participant-stats
  /agritourism/campaigns/{id}:
    get:
      summary: GET /agritourism/campaigns/{id}
      description: Endpoint for /agritourism/campaigns/{id}
    put:
      summary: PUT /agritourism/campaigns/{id}
      description: Endpoint for /agritourism/campaigns/{id}
    delete:
      summary: DELETE /agritourism/campaigns/{id}
      description: Endpoint for /agritourism/campaigns/{id}
  /agritourism/campaigns/{id}/scanner/attendees:
    get:
      summary: GET /agritourism/campaigns/{id}/scanner/attendees
      description: Endpoint for /agritourism/campaigns/{id}/scanner/attendees
  /agritourism/campaigns/{id}/scanner/bulk-reconcile:
    post:
      summary: POST /agritourism/campaigns/{id}/scanner/bulk-reconcile
      description: Endpoint for /agritourism/campaigns/{id}/scanner/bulk-reconcile
  /agritourism/campaigns/{id}/scanner/checkin:
    post:
      summary: POST /agritourism/campaigns/{id}/scanner/checkin
      description: Endpoint for /agritourism/campaigns/{id}/scanner/checkin
  /agritourism/campaigns/{id}/scanner/context:
    get:
      summary: GET /agritourism/campaigns/{id}/scanner/context
      description: Endpoint for /agritourism/campaigns/{id}/scanner/context
  /agritourism/campaigns/{id}/scanner/guest-list:
    get:
      summary: GET /agritourism/campaigns/{id}/scanner/guest-list
      description: Endpoint for /agritourism/campaigns/{id}/scanner/guest-list
  /agritourism/campaigns/{id}/scanner/lookup:
    post:
      summary: POST /agritourism/campaigns/{id}/scanner/lookup
      description: Endpoint for /agritourism/campaigns/{id}/scanner/lookup
  /agritourism/campaigns/{id}/scanner/stats:
    get:
      summary: GET /agritourism/campaigns/{id}/scanner/stats
      description: Endpoint for /agritourism/campaigns/{id}/scanner/stats
  /agritourism/campaigns/{id}/scanner/undo-checkin:
    post:
      summary: POST /agritourism/campaigns/{id}/scanner/undo-checkin
      description: Endpoint for /agritourism/campaigns/{id}/scanner/undo-checkin
  /agritourism/campaigns/{id}/status:
    post:
      summary: POST /agritourism/campaigns/{id}/status
      description: Endpoint for /agritourism/campaigns/{id}/status
  /agritourism/campaigns/{id}/stop-busyness:
    get:
      summary: GET /agritourism/campaigns/{id}/stop-busyness
      description: Endpoint for /agritourism/campaigns/{id}/stop-busyness
  /agritourism/campaigns/{id}/ticket-types/{ticketTypeId}:
    patch:
      summary: PATCH /agritourism/campaigns/{id}/ticket-types/{ticketTypeId}
      description: Endpoint for /agritourism/campaigns/{id}/ticket-types/{ticketTypeId}
    delete:
      summary: DELETE /agritourism/campaigns/{id}/ticket-types/{ticketTypeId}
      description: Endpoint for /agritourism/campaigns/{id}/ticket-types/{ticketTypeId}
  /agritourism/campaigns/{id}/ticket-types:
    post:
      summary: POST /agritourism/campaigns/{id}/ticket-types
      description: Endpoint for /agritourism/campaigns/{id}/ticket-types
  /agritourism/campaigns/all:
    get:
      summary: GET /agritourism/campaigns/all
      description: Endpoint for /agritourism/campaigns/all
  /agritourism/campaigns/create:
    post:
      summary: POST /agritourism/campaigns/create
      description: Endpoint for /agritourism/campaigns/create
  /agritourism/campaigns/joinable:
    get:
      summary: GET /agritourism/campaigns/joinable
      description: Endpoint for /agritourism/campaigns/joinable
  /agritourism/campaigns/mine:
    get:
      summary: GET /agritourism/campaigns/mine
      description: Endpoint for /agritourism/campaigns/mine
  /agritourism/campaigns:
    get:
      summary: GET /agritourism/campaigns
      description: Endpoint for /agritourism/campaigns
  /agritourism/checkout:
    post:
      summary: POST /agritourism/checkout
      description: Endpoint for /agritourism/checkout
  /agritourism/claim-free:
    post:
      summary: POST /agritourism/claim-free
      description: Endpoint for /agritourism/claim-free
  /agritourism/fee-profiles:
    get:
      summary: GET /agritourism/fee-profiles
      description: Endpoint for /agritourism/fee-profiles
  /agritourism/lookup:
    post:
      summary: POST /agritourism/lookup
      description: Endpoint for /agritourism/lookup
  /agritourism/my-associations:
    get:
      summary: GET /agritourism/my-associations
      description: Endpoint for /agritourism/my-associations
  /agritourism/stripe-connect/dashboard:
    get:
      summary: GET /agritourism/stripe-connect/dashboard
      description: Endpoint for /agritourism/stripe-connect/dashboard
  /agritourism/stripe-connect:
    post:
      summary: POST /agritourism/stripe-connect
      description: Endpoint for /agritourism/stripe-connect
  /agritourism/stripe-connect/status:
    get:
      summary: GET /agritourism/stripe-connect/status
      description: Endpoint for /agritourism/stripe-connect/status
  /agritourism/ticket-types/{id}:
    put:
      summary: PUT /agritourism/ticket-types/{id}
      description: Endpoint for /agritourism/ticket-types/{id}
  /agritourism/tickets/{id}/cancel:
    post:
      summary: POST /agritourism/tickets/{id}/cancel
      description: Endpoint for /agritourism/tickets/{id}/cancel
  /agritourism/tickets/{id}/download:
    get:
      summary: GET /agritourism/tickets/{id}/download
      description: Endpoint for /agritourism/tickets/{id}/download
  /agritourism/tickets/{id}/pass:
    get:
      summary: GET /agritourism/tickets/{id}/pass
      description: Endpoint for /agritourism/tickets/{id}/pass
  /agritourism/tickets/{id}:
    get:
      summary: GET /agritourism/tickets/{id}
      description: Endpoint for /agritourism/tickets/{id}
  /agritourism/tickets:
    get:
      summary: GET /agritourism/tickets
      description: Endpoint for /agritourism/tickets
  /agritourism/validate:
    post:
      summary: POST /agritourism/validate
      description: Endpoint for /agritourism/validate
  /analytics/entity/{entityType}/{entityId}:
    get:
      summary: GET /analytics/entity/{entityType}/{entityId}
      description: Endpoint for /analytics/entity/{entityType}/{entityId}
  /analytics/fallback:
    post:
      summary: POST /analytics/fallback
      description: Endpoint for /analytics/fallback
    get:
      summary: GET /analytics/fallback
      description: Endpoint for /analytics/fallback
  /analytics/metrics:
    get:
      summary: GET /analytics/metrics
      description: Endpoint for /analytics/metrics
  /analytics/track:
    post:
      summary: POST /analytics/track
      description: Endpoint for /analytics/track
  /associations/{id}/members/{membershipId}:
    put:
      summary: PUT /associations/{id}/members/{membershipId}
      description: Endpoint for /associations/{id}/members/{membershipId}
  /associations/{id}/members:
    get:
      summary: GET /associations/{id}/members
      description: Endpoint for /associations/{id}/members
  /associations/{id}/place-tours/{tourId}:
    patch:
      summary: PATCH /associations/{id}/place-tours/{tourId}
      description: Endpoint for /associations/{id}/place-tours/{tourId}
    put:
      summary: PUT /associations/{id}/place-tours/{tourId}
      description: Endpoint for /associations/{id}/place-tours/{tourId}
  /associations/{id}/place-tours:
    get:
      summary: GET /associations/{id}/place-tours
      description: Endpoint for /associations/{id}/place-tours
    post:
      summary: POST /associations/{id}/place-tours
      description: Endpoint for /associations/{id}/place-tours
  /associations/{id}/spend-challenge/activity-map:
    get:
      summary: GET /associations/{id}/spend-challenge/activity-map
      description: Endpoint for /associations/{id}/spend-challenge/activity-map
  /associations/{id}/spend-challenge/campaigns/{campaignId}/open:
    post:
      summary: POST /associations/{id}/spend-challenge/campaigns/{campaignId}/open
      description: Endpoint for /associations/{id}/spend-challenge/campaigns/{campaignId}/open
  /associations/{id}/spend-challenge/campaigns/{campaignId}/poster:
    get:
      summary: GET /associations/{id}/spend-challenge/campaigns/{campaignId}/poster
      description: Endpoint for /associations/{id}/spend-challenge/campaigns/{campaignId}/poster
  /associations/{id}/spend-challenge/campaigns/{campaignId}:
    patch:
      summary: PATCH /associations/{id}/spend-challenge/campaigns/{campaignId}
      description: Endpoint for /associations/{id}/spend-challenge/campaigns/{campaignId}
  /associations/{id}/spend-challenge/campaigns:
    get:
      summary: GET /associations/{id}/spend-challenge/campaigns
      description: Endpoint for /associations/{id}/spend-challenge/campaigns
    post:
      summary: POST /associations/{id}/spend-challenge/campaigns
      description: Endpoint for /associations/{id}/spend-challenge/campaigns
  /associations/{id}/spend-challenge/insights:
    get:
      summary: GET /associations/{id}/spend-challenge/insights
      description: Endpoint for /associations/{id}/spend-challenge/insights
  /associations/{id}/spend-challenge:
    get:
      summary: GET /associations/{id}/spend-challenge
      description: Endpoint for /associations/{id}/spend-challenge
    put:
      summary: PUT /associations/{id}/spend-challenge
      description: Endpoint for /associations/{id}/spend-challenge
  /associations/by-slug/{slug}/tours/{tourSlug}:
    get:
      summary: GET /associations/by-slug/{slug}/tours/{tourSlug}
      description: Endpoint for /associations/by-slug/{slug}/tours/{tourSlug}
  /associations/by-slug/{slug}/tours:
    get:
      summary: GET /associations/by-slug/{slug}/tours
      description: Endpoint for /associations/by-slug/{slug}/tours
  /auth/telegram/link:
    post:
      summary: POST /api/auth/telegram/link
      description: POST /api/auth/telegram/link
  /auth/telegram/register-chat:
    post:
      summary: POST /api/auth/telegram/register-chat
      description: POST /api/auth/telegram/register-chat
  /auth/telegram/verify:
    post:
      summary: POST /api/auth/telegram/verify
      description: POST /api/auth/telegram/verify
  /baskets/{id}:
    get:
      summary: link access via UUID)
      description: link access via UUID)
    put:
      summary: link access via UUID)
      description: link access via UUID)
    delete:
      summary: link access via UUID)
      description: link access via UUID)
  /baskets:
    post:
      summary: Create or upsert a basket
      description: Create or upsert a basket
    get:
      summary: Create or upsert a basket
      description: Create or upsert a basket
  /browse-products:
    get:
      summary: GET /api/browse-products
      description: GET /api/browse-products
  /business/store-qr/apply-layout-all:
    post:
      summary: POST /business/store-qr/apply-layout-all
      description: Endpoint for /business/store-qr/apply-layout-all
  /business/store-qr/regenerate-token:
    post:
      summary: POST /business/store-qr/regenerate-token
      description: Endpoint for /business/store-qr/regenerate-token
  /business/store-qr:
    get:
      summary: GET /business/store-qr
      description: Endpoint for /business/store-qr
    put:
      summary: PUT /business/store-qr
      description: Endpoint for /business/store-qr
  /business/store-qr/track:
    post:
      summary: POST /business/store-qr/track
      description: Endpoint for /business/store-qr/track
  /business/surveys/{id}:
    get:
      summary: GET /business/surveys/{id}
      description: Endpoint for /business/surveys/{id}
    put:
      summary: PUT /business/surveys/{id}
      description: Endpoint for /business/surveys/{id}
    delete:
      summary: DELETE /business/surveys/{id}
      description: Endpoint for /business/surveys/{id}
  /business/surveys:
    get:
      summary: GET /business/surveys
      description: Endpoint for /business/surveys
    post:
      summary: POST /business/surveys
      description: Endpoint for /business/surveys
  /categories:
    get:
      summary: GET /categories
      description: Endpoint for /categories
  /community/insights:
    get:
      summary: GET /community/insights
      description: Endpoint for /community/insights
  /community/members:
    get:
      summary: Public response shape. STRUCTURAL GUARANTEE: this type does not include
      description: Public response shape. STRUCTURAL GUARANTEE: this type does not include
  /community-food-score-pdf:
    get:
      summary: GET /community-food-score-pdf
      description: Endpoint for /community-food-score-pdf
  /config/client:
    get:
      summary: GET /config/client
      description: Endpoint for /config/client
  /connections/{id}:
    post:
      summary: POST /connections/{id}
      description: Endpoint for /connections/{id}
    put:
      summary: PUT /connections/{id}
      description: Endpoint for /connections/{id}
    delete:
      summary: DELETE /connections/{id}
      description: Endpoint for /connections/{id}
  /connections:
    get:
      summary: GET /connections
      description: Endpoint for /connections
    post:
      summary: POST /connections
      description: Endpoint for /connections
  /connections/status:
    get:
      summary: GET /api/connections/status?userId=xxx
      description: GET /api/connections/status?userId=xxx
  /contact:
    post:
      summary: POST /contact
      description: Endpoint for /contact
  /cron/ontario-weekly-snapshot:
    post:
      summary: POST /api/cron/ontario-weekly-snapshot
      description: POST /api/cron/ontario-weekly-snapshot
  /cuisines:
    get:
      summary: GET /cuisines
      description: Endpoint for /cuisines
  /debug/features:
    get:
      summary: GET /api/debug/features
      description: GET /api/debug/features
  /dev/chat:
    get:
      summary: GET /dev/chat
      description: Endpoint for /dev/chat
    post:
      summary: POST /dev/chat
      description: Endpoint for /dev/chat
  /dev/login:
    post:
      summary: POST /dev/login
      description: Endpoint for /dev/login
  /dev/users:
    get:
      summary: GET /dev/users
      description: Endpoint for /dev/users
  /discussions/categories/{slug}/jobs:
    get:
      summary: GET /discussions/categories/{slug}/jobs
      description: Endpoint for /discussions/categories/{slug}/jobs
  /discussions/categories:
    get:
      summary: GET /discussions/categories
      description: Endpoint for /discussions/categories
  /discussions/locations:
    get:
      summary: GET /discussions/locations
      description: Endpoint for /discussions/locations
  /discussions/posts/{id}/replies:
    post:
      summary: POST /discussions/posts/{id}/replies
      description: Endpoint for /discussions/posts/{id}/replies
  /discussions/posts/{id}:
    get:
      summary: GET /discussions/posts/{id}
      description: Endpoint for /discussions/posts/{id}
  /discussions/posts:
    get:
      summary: GET /discussions/posts
      description: Endpoint for /discussions/posts
    post:
      summary: POST /discussions/posts
      description: Endpoint for /discussions/posts
  /discussions/subscriptions:
    get:
      summary: GET /discussions/subscriptions
      description: Endpoint for /discussions/subscriptions
    post:
      summary: POST /discussions/subscriptions
      description: Endpoint for /discussions/subscriptions
    delete:
      summary: DELETE /discussions/subscriptions
      description: Endpoint for /discussions/subscriptions
  /endorsements/check:
    post:
      summary: POST /endorsements/check
      description: Endpoint for /endorsements/check
  /endorsements:
    post:
      summary: POST /endorsements
      description: Endpoint for /endorsements
    delete:
      summary: DELETE /endorsements
      description: Endpoint for /endorsements
  /engagement-metrics:
    get:
      summary: GET /engagement-metrics
      description: Endpoint for /engagement-metrics
  /events/{id}/analytics:
    get:
      summary: GET /api/events/[id]/analytics
      description: GET /api/events/[id]/analytics
  /events/{id}/calendar:
    get:
      summary: GET /events/{id}/calendar
      description: Endpoint for /events/{id}/calendar
  /events/{id}/instances:
    get:
      summary: GET /events/{id}/instances
      description: Endpoint for /events/{id}/instances
    post:
      summary: POST /events/{id}/instances
      description: Endpoint for /events/{id}/instances
  /events/{id}:
    get:
      summary: GET /events/{id}
      description: Endpoint for /events/{id}
    put:
      summary: PUT /events/{id}
      description: Endpoint for /events/{id}
    delete:
      summary: DELETE /events/{id}
      description: Endpoint for /events/{id}
  /events/{id}/rsvp:
    post:
      summary: POST /events/{id}/rsvp
      description: Endpoint for /events/{id}/rsvp
    delete:
      summary: DELETE /events/{id}/rsvp
      description: Endpoint for /events/{id}/rsvp
  /events/analytics:
    get:
      summary: GET /events/analytics
      description: Endpoint for /events/analytics
  /events/digest:
    post:
      summary: POST /api/events/digest
      description: POST /api/events/digest
  /events/import/fetch:
    get:
      summary: GET /events/import/fetch
      description: Endpoint for /events/import/fetch
  /events/import:
    post:
      summary: POST /events/import
      description: Endpoint for /events/import
  /events/import/sources:
    get:
      summary: GET /events/import/sources
      description: Endpoint for /events/import/sources
  /events/map:
    get:
      summary: GET /events/map
      description: Endpoint for /events/map
  /events/my-rsvps:
    get:
      summary: GET /events/my-rsvps
      description: Endpoint for /events/my-rsvps
  /events:
    get:
      summary: GET /events
      description: Endpoint for /events
    post:
      summary: Create Event
      description: Create a new event (market, workshop, tour, etc.). Supports recurring events with iCal recurrence rules.
  /events/rsvp/{id}/download:
    get:
      summary: GET /events/rsvp/{id}/download
      description: Endpoint for /events/rsvp/{id}/download
  /events/tickets/attendees:
    get:
      summary: GET /events/tickets/attendees
      description: Endpoint for /events/tickets/attendees
  /events/tickets/audit-csv:
    get:
      summary: GET /events/tickets/audit-csv
      description: Endpoint for /events/tickets/audit-csv
  /events/tickets/bulk-checkin:
    post:
      summary: POST /events/tickets/bulk-checkin
      description: Endpoint for /events/tickets/bulk-checkin
  /events/tickets/bulk-reconcile:
    post:
      summary: POST /events/tickets/bulk-reconcile
      description: Endpoint for /events/tickets/bulk-reconcile
  /events/tickets/checkin:
    post:
      summary: POST /events/tickets/checkin
      description: Endpoint for /events/tickets/checkin
  /events/tickets/guest-list:
    get:
      summary: GET /events/tickets/guest-list
      description: Endpoint for /events/tickets/guest-list
  /events/tickets/lookup:
    post:
      summary: POST /events/tickets/lookup
      description: Endpoint for /events/tickets/lookup
  /events/tickets/scannable:
    get:
      summary: GET /events/tickets/scannable
      description: Endpoint for /events/tickets/scannable
  /events/tickets/stats:
    get:
      summary: GET /events/tickets/stats
      description: Endpoint for /events/tickets/stats
  /events/tickets/verify:
    post:
      summary: POST /events/tickets/verify
      description: Endpoint for /events/tickets/verify
  /feature-flags:
    get:
      summary: Get feature flags for the current user
      description: Get feature flags for the current user
    post:
      summary: Get feature flags for the current user
      description: Get feature flags for the current user
  /feedback:
    post:
      summary: POST /feedback
      description: Endpoint for /feedback
  /food-score/personal:
    get:
      summary: GET /food-score/personal
      description: Endpoint for /food-score/personal
    patch:
      summary: PATCH /food-score/personal
      description: Endpoint for /food-score/personal
  /for-real-estate/connectivity-audit/preview:
    get:
      summary: GET /for-real-estate/connectivity-audit/preview
      description: Endpoint for /for-real-estate/connectivity-audit/preview
  /for-real-estate/connectivity-audit:
    post:
      summary: POST /for-real-estate/connectivity-audit
      description: Endpoint for /for-real-estate/connectivity-audit
    get:
      summary: GET /for-real-estate/connectivity-audit
      description: Endpoint for /for-real-estate/connectivity-audit
  /games/{gameId}/leaderboard:
    get:
      summary: GET /games/{gameId}/leaderboard
      description: Endpoint for /games/{gameId}/leaderboard
  /games/{gameId}/participating-businesses:
    get:
      summary: GET /games/{gameId}/participating-businesses
      description: Endpoint for /games/{gameId}/participating-businesses
  /games/{gameId}:
    get:
      summary: GET /games/{gameId}
      description: Endpoint for /games/{gameId}
  /games/{gameId}/user-stats:
    get:
      summary: GET /games/{gameId}/user-stats
      description: Endpoint for /games/{gameId}/user-stats
  /games/{gameId}/user-visits:
    get:
      summary: GET /games/{gameId}/user-visits
      description: Endpoint for /games/{gameId}/user-visits
  /games/active:
    get:
      summary: GET /games/active
      description: Endpoint for /games/active
  /games/has-active:
    get:
      summary: GET /games/has-active
      description: Endpoint for /games/has-active
  /games/match3/scores:
    post:
      summary: POST - Submit a new Match3 score
      description: POST - Submit a new Match3 score
    get:
      summary: POST - Submit a new Match3 score
      description: POST - Submit a new Match3 score
  /games/my-challenges:
    get:
      summary: GET /games/my-challenges
      description: Endpoint for /games/my-challenges
  /games/random-local-spot:
    get:
      summary: GET /games/random-local-spot
      description: Endpoint for /games/random-local-spot
  /games:
    get:
      summary: GET /games
      description: Endpoint for /games
  /geocode/reverse:
    get:
      summary: GET /geocode/reverse
      description: Endpoint for /geocode/reverse
  /geocode:
    get:
      summary: Geocode Address
      description: Convert a physical address to latitude/longitude coordinates for location-based searches.
  /global-features:
    get:
      summary: GET /api/global-features
      description: GET /api/global-features
  /invitations/{token}/decline:
    post:
      summary: POST /invitations/{token}/decline
      description: Endpoint for /invitations/{token}/decline
  /invitations/{token}:
    get:
      summary: GET /invitations/{token}
      description: Endpoint for /invitations/{token}
    post:
      summary: POST /invitations/{token}
      description: Endpoint for /invitations/{token}
  /jobs/{jobId}/candidates:
    get:
      summary: GET /api/jobs/[jobId]/candidates
      description: GET /api/jobs/[jobId]/candidates
  /jobs/{jobId}:
    get:
      summary: GET /jobs/{jobId}
      description: Endpoint for /jobs/{jobId}
    put:
      summary: PUT /jobs/{jobId}
      description: Endpoint for /jobs/{jobId}
    delete:
      summary: DELETE /jobs/{jobId}
      description: Endpoint for /jobs/{jobId}
  /jobs/public:
    get:
      summary: GET /jobs/public
      description: Endpoint for /jobs/public
  /jobs/recommendations:
    get:
      summary: GET /api/jobs/recommendations
      description: GET /api/jobs/recommendations
  /jobs:
    post:
      summary: POST /jobs
      description: Endpoint for /jobs
    get:
      summary: GET /jobs
      description: Endpoint for /jobs
  /listings/{id}/accept:
    post:
      summary: POST /api/listings/[id]/accept
      description: POST /api/listings/[id]/accept
  /listings/{id}/confirm-acceptance:
    post:
      summary: POST /api/listings/[id]/confirm-acceptance
      description: POST /api/listings/[id]/confirm-acceptance
  /listings/{id}/confirm-direct-pickup:
    post:
      summary: POST /api/listings/[id]/confirm-direct-pickup
      description: POST /api/listings/[id]/confirm-direct-pickup
  /listings/{id}/decline:
    post:
      summary: POST /api/listings/[id]/decline
      description: POST /api/listings/[id]/decline
  /listings/{id}/decline-acceptance:
    post:
      summary: POST /api/listings/[id]/decline-acceptance
      description: POST /api/listings/[id]/decline-acceptance
  /listings/{id}/fulfill:
    post:
      summary: Mark listing as fulfilled
      description: Mark listing as fulfilled
  /listings/{id}/reactivate:
    post:
      summary: POST /api/listings/[id]/reactivate
      description: POST /api/listings/[id]/reactivate
  /listings/{id}:
    get:
      summary: Get single listing
      description: Get single listing
    put:
      summary: Get single listing
      description: Get single listing
    delete:
      summary: Get single listing
      description: Get single listing
  /listings/{id}/view:
    post:
      summary: POST /listings/{id}/view
      description: Endpoint for /listings/{id}/view
  /listings/my:
    get:
      summary: Get current user's listings
      description: Get current user's listings
  /listings:
    get:
      summary: Browse Marketplace Listings
      description: Search and browse marketplace listings with location filtering, search terms, and association filters.
    post:
      summary: Create Marketplace Listing
      description: Create a new marketplace listing for buying, selling, or offering services. Requires participant_id from /api/v2/participants/my-businesses.
  /local-food-score:
    get:
      summary: GET /api/local-food-score
      description: GET /api/local-food-score
  /local-food-score/sovereignty-index:
    get:
      summary: GET /local-food-score/sovereignty-index
      description: Endpoint for /local-food-score/sovereignty-index
  /local-food-score/system-metrics:
    get:
      summary: GET /local-food-score/system-metrics
      description: Endpoint for /local-food-score/system-metrics
  /local-food-score-narrative-pdf:
    get:
      summary: GET /local-food-score-narrative-pdf
      description: Endpoint for /local-food-score-narrative-pdf
  /local-food-score-pdf:
    get:
      summary: GET /local-food-score-pdf
      description: Endpoint for /local-food-score-pdf
  /marketplace/contact:
    post:
      summary: POST /marketplace/contact
      description: Endpoint for /marketplace/contact
  /mcp/auth/start:
    get:
      summary: Simplified MCP OAuth authorization endpoint
      description: Simplified MCP OAuth authorization endpoint
  /mcp:
    post:
      summary: POST /mcp
      description: Endpoint for /mcp
    get:
      summary: GET /mcp
      description: Endpoint for /mcp
  /mcp/sse:
    get:
      summary: GET /mcp/sse
      description: Endpoint for /mcp/sse
  /mcp/token/generate:
    post:
      summary: Generate a Personal Access Token for MCP / API clients (e.g. Cursor mcp.json).
      description: Generate a Personal Access Token for MCP / API clients (e.g. Cursor mcp.json).
    get:
      summary: Generate a Personal Access Token for MCP / API clients (e.g. Cursor mcp.json).
      description: Generate a Personal Access Token for MCP / API clients (e.g. Cursor mcp.json).
  /mcp/tokens/{id}:
    delete:
      summary: DELETE /mcp/tokens/{id}
      description: Endpoint for /mcp/tokens/{id}
  /mcp/tokens:
    get:
      summary: GET /mcp/tokens
      description: Endpoint for /mcp/tokens
  /me:
    get:
      summary: Get Current User Profile
      description: Returns authenticated user's profile information including admin status and associated businesses.
  /my-businesses:
    get:
      summary: GET /my-businesses
      description: Endpoint for /my-businesses
  /notifications/announcement-count:
    get:
      summary: GET /notifications/announcement-count
      description: Endpoint for /notifications/announcement-count
  /notifications/debug:
    get:
      summary: GET /notifications/debug
      description: Endpoint for /notifications/debug
  /notifications/preferences:
    get:
      summary: GET /notifications/preferences
      description: Endpoint for /notifications/preferences
    put:
      summary: PUT /notifications/preferences
      description: Endpoint for /notifications/preferences
  /notifications:
    get:
      summary: GET /notifications
      description: Endpoint for /notifications
    put:
      summary: PUT /notifications
      description: Endpoint for /notifications
  /notifications/subscribe:
    post:
      summary: POST /notifications/subscribe
      description: Endpoint for /notifications/subscribe
    delete:
      summary: DELETE /notifications/subscribe
      description: Endpoint for /notifications/subscribe
  /notifications/test:
    post:
      summary: POST /notifications/test
      description: Endpoint for /notifications/test
  /notifications/vapid-key:
    get:
      summary: GET /notifications/vapid-key
      description: Endpoint for /notifications/vapid-key
  /oauth/authorize:
    get:
      summary: GET /oauth/authorize
      description: Endpoint for /oauth/authorize
  /oauth/clients/{id}/reset-secret:
    post:
      summary: POST /oauth/clients/{id}/reset-secret
      description: Endpoint for /oauth/clients/{id}/reset-secret
  /oauth/clients/{id}:
    patch:
      summary: PATCH /oauth/clients/{id}
      description: Endpoint for /oauth/clients/{id}
    put:
      summary: PUT /oauth/clients/{id}
      description: Endpoint for /oauth/clients/{id}
    delete:
      summary: DELETE /oauth/clients/{id}
      description: Endpoint for /oauth/clients/{id}
  /oauth/clients/info:
    get:
      summary: GET /oauth/clients/info
      description: Endpoint for /oauth/clients/info
  /oauth/clients:
    post:
      summary: POST /oauth/clients
      description: Endpoint for /oauth/clients
    get:
      summary: GET /oauth/clients
      description: Endpoint for /oauth/clients
  /oauth/register:
    post:
      summary: Dynamic Client Registration (DCR) endpoint per RFC 7591
      description: Dynamic Client Registration (DCR) endpoint per RFC 7591
  /oauth/revoke:
    post:
      summary: POST /oauth/revoke
      description: Endpoint for /oauth/revoke
  /oauth/token:
    post:
      summary: POST /oauth/token
      description: Endpoint for /oauth/token
  /oauth/userinfo:
    get:
      summary: GET /oauth/userinfo
      description: Endpoint for /oauth/userinfo
  /ontario-food-score-heatmap:
    get:
      summary: GET /ontario-food-score-heatmap
      description: Endpoint for /ontario-food-score-heatmap
  /openapi/json:
    get:
      summary: GET /openapi/json
      description: Endpoint for /openapi/json
  /openapi:
    get:
      summary: GET /openapi
      description: Endpoint for /openapi
  /participants/{id}/events:
    get:
      summary: GET /participants/{id}/events
      description: Endpoint for /participants/{id}/events
    post:
      summary: POST /participants/{id}/events
      description: Endpoint for /participants/{id}/events
  /participants/{id}/notification-filters/{filterId}:
    get:
      summary: GET /api/participants/[id]/notification-filters/[filterId]
      description: GET /api/participants/[id]/notification-filters/[filterId]
    patch:
      summary: GET /api/participants/[id]/notification-filters/[filterId]
      description: GET /api/participants/[id]/notification-filters/[filterId]
    delete:
      summary: GET /api/participants/[id]/notification-filters/[filterId]
      description: GET /api/participants/[id]/notification-filters/[filterId]
  /participants/{id}/notification-filters:
    get:
      summary: GET /api/participants/[id]/notification-filters
      description: GET /api/participants/[id]/notification-filters
    post:
      summary: GET /api/participants/[id]/notification-filters
      description: GET /api/participants/[id]/notification-filters
  /participants/{id}:
    get:
      summary: GET /participants/{id}
      description: Endpoint for /participants/{id}
    patch:
      summary: PATCH /participants/{id}
      description: Endpoint for /participants/{id}
  /participants/{id}/tasks:
    get:
      summary: GET /participants/{id}/tasks
      description: Endpoint for /participants/{id}/tasks
  /participants/search:
    get:
      summary: GET /participants/search
      description: Endpoint for /participants/search
  /piknik-durham-report-card-pdf:
    get:
      summary: GET /piknik-durham-report-card-pdf
      description: Endpoint for /piknik-durham-report-card-pdf
  /place/{id}/og-image:
    get:
      summary: GET /place/{id}/og-image
      description: Endpoint for /place/{id}/og-image
  /place/{id}/users/{userId}:
    put:
      summary: PUT /place/{id}/users/{userId}
      description: Endpoint for /place/{id}/users/{userId}
    delete:
      summary: DELETE /place/{id}/users/{userId}
      description: Endpoint for /place/{id}/users/{userId}
  /place/{id}/users:
    get:
      summary: GET /place/{id}/users
      description: Endpoint for /place/{id}/users
    post:
      summary: POST /place/{id}/users
      description: Endpoint for /place/{id}/users
  /place/challenge-interest:
    post:
      summary: POST /place/challenge-interest
      description: Endpoint for /place/challenge-interest
    get:
      summary: GET /place/challenge-interest
      description: Endpoint for /place/challenge-interest
  /place/challenge-opportunities:
    get:
      summary: GET /place/challenge-opportunities
      description: Endpoint for /place/challenge-opportunities
  /place/games/{gameId}/participation:
    patch:
      summary: PATCH /place/games/{gameId}/participation
      description: Endpoint for /place/games/{gameId}/participation
  /place/games/{gameId}/qr-code/pdf:
    get:
      summary: GET /place/games/{gameId}/qr-code/pdf
      description: Endpoint for /place/games/{gameId}/qr-code/pdf
  /place/games/{gameId}/qr-code:
    get:
      summary: GET /place/games/{gameId}/qr-code
      description: Endpoint for /place/games/{gameId}/qr-code
  /place/games:
    get:
      summary: GET /place/games
      description: Endpoint for /place/games
  /place/store-qr/{participantId}/qr-code/pdf:
    get:
      summary: GET /place/store-qr/{participantId}/qr-code/pdf
      description: Endpoint for /place/store-qr/{participantId}/qr-code/pdf
  /place/store-qr/{participantId}/qr-code:
    get:
      summary: GET /place/store-qr/{participantId}/qr-code
      description: Endpoint for /place/store-qr/{participantId}/qr-code
  /place-tours/by-slug/{tourSlug}:
    get:
      summary: GET /place-tours/by-slug/{tourSlug}
      description: Endpoint for /place-tours/by-slug/{tourSlug}
  /place-tours/for-place/{participantId}:
    get:
      summary: GET /place-tours/for-place/{participantId}
      description: Endpoint for /place-tours/for-place/{participantId}
  /place-tours/road-path:
    post:
      summary: POST /place-tours/road-path
      description: Endpoint for /place-tours/road-path
  /place-tours:
    get:
      summary: GET /place-tours
      description: Endpoint for /place-tours
  /planting-calendar/products:
    get:
      summary: Public API: return product names that have planting guides for the given zone.
      description: Public API: return product names that have planting guides for the given zone.
  /planting-calendar/zones:
    get:
      summary: Public API: return zones with their locations for the planting calendar.
      description: Public API: return zones with their locations for the planting calendar.
  /planting-calendar.ics:
    get:
      summary: GET /planting-calendar.ics
      description: Endpoint for /planting-calendar.ics
  /products/search:
    get:
      summary: GET /api/products/search
      description: GET /api/products/search
  /products/validate-local-food:
    post:
      summary: POST /api/products/validate-local-food
      description: POST /api/products/validate-local-food
  /profile/{username}:
    get:
      summary: GET /profile/{username}
      description: Endpoint for /profile/{username}
  /profile:
    get:
      summary: GET /profile
      description: Endpoint for /profile
    post:
      summary: POST /profile
      description: Endpoint for /profile
  /profile/skills/{id}:
    delete:
      summary: DELETE /profile/skills/{id}
      description: Endpoint for /profile/skills/{id}
  /profile/skills:
    post:
      summary: POST /profile/skills
      description: Endpoint for /profile/skills
  /profile/suggest-slug:
    get:
      summary: GET /profile/suggest-slug
      description: Endpoint for /profile/suggest-slug
  /profile/work-experience/{id}:
    put:
      summary: PUT /profile/work-experience/{id}
      description: Endpoint for /profile/work-experience/{id}
    delete:
      summary: DELETE /profile/work-experience/{id}
      description: Endpoint for /profile/work-experience/{id}
  /profile/work-experience:
    post:
      summary: POST /profile/work-experience
      description: Endpoint for /profile/work-experience
  /recipes/{id}/comments:
    get:
      summary: GET /recipes/{id}/comments
      description: Endpoint for /recipes/{id}/comments
    post:
      summary: POST /recipes/{id}/comments
      description: Endpoint for /recipes/{id}/comments
    delete:
      summary: DELETE /recipes/{id}/comments
      description: Endpoint for /recipes/{id}/comments
  /recipes/{id}/flag:
    post:
      summary: POST /recipes/{id}/flag
      description: Endpoint for /recipes/{id}/flag
  /recipes/{id}/local-sourcing:
    get:
      summary: GET /recipes/{id}/local-sourcing
      description: Endpoint for /recipes/{id}/local-sourcing
  /recipes/{id}:
    get:
      summary: GET /recipes/{id}
      description: Endpoint for /recipes/{id}
    patch:
      summary: PATCH /recipes/{id}
      description: Endpoint for /recipes/{id}
    delete:
      summary: DELETE /recipes/{id}
      description: Endpoint for /recipes/{id}
  /recipes:
    get:
      summary: GET /recipes
      description: Endpoint for /recipes
    post:
      summary: POST /recipes
      description: Endpoint for /recipes
  /recommendations:
    get:
      summary: GET /recommendations
      description: Endpoint for /recommendations
    post:
      summary: POST /recommendations
      description: Endpoint for /recommendations
  /regional-score/analyze:
    get:
      summary: GET /regional-score/analyze
      description: Endpoint for /regional-score/analyze
  /regional-score/simulate:
    post:
      summary: POST /regional-score/simulate
      description: Endpoint for /regional-score/simulate
  /scan/checkin:
    post:
      summary: POST /scan/checkin
      description: Endpoint for /scan/checkin
  /scan/nearby:
    get:
      summary: GET /scan/nearby
      description: Endpoint for /scan/nearby
  /seasonal-guide:
    get:
      summary: GET /seasonal-guide
      description: Endpoint for /seasonal-guide
  /skills/search:
    get:
      summary: GET /skills/search
      description: Endpoint for /skills/search
  /sms/inbound:
    post:
      summary: Twilio inbound SMS webhook.
      description: Twilio inbound SMS webhook.
  /spend-challenge/associations/{id}/campaign:
    get:
      summary: GET /spend-challenge/associations/{id}/campaign
      description: Endpoint for /spend-challenge/associations/{id}/campaign
  /spend-challenge/associations/{id}:
    get:
      summary: GET /spend-challenge/associations/{id}
      description: Endpoint for /spend-challenge/associations/{id}
  /spend-challenge/associations/{id}/share-card:
    get:
      summary: Fetch an image (remote URL or local file path) and return a base64 data URI
      description: Fetch an image (remote URL or local file path) and return a base64 data URI
  /spend-challenge/log:
    post:
      summary: POST /spend-challenge/log
      description: Endpoint for /spend-challenge/log
  /spend-challenge/my-logs:
    get:
      summary: GET /spend-challenge/my-logs
      description: Endpoint for /spend-challenge/my-logs
  /spend-challenge/nearby:
    get:
      summary: GET /spend-challenge/nearby
      description: Endpoint for /spend-challenge/nearby
  /spend-challenge/participant/{id}/impact:
    get:
      summary: GET /spend-challenge/participant/{id}/impact
      description: Endpoint for /spend-challenge/participant/{id}/impact
  /spend-challenge/rankings:
    get:
      summary: GET /spend-challenge/rankings
      description: Endpoint for /spend-challenge/rankings
  /sponsor/applications:
    get:
      summary: GET /sponsor/applications
      description: Endpoint for /sponsor/applications
    post:
      summary: POST /sponsor/applications
      description: Endpoint for /sponsor/applications
  /sponsorships:
    get:
      summary: GET /sponsorships
      description: Endpoint for /sponsorships
    post:
      summary: POST /sponsorships
      description: Endpoint for /sponsorships
  /surveys:
    post:
      summary: POST /surveys
      description: Endpoint for /surveys
    get:
      summary: GET /surveys
      description: Endpoint for /surveys
  /tasks/{id}/abandon:
    post:
      summary: POST /tasks/{id}/abandon
      description: Endpoint for /tasks/{id}/abandon
  /tasks/{id}/claim:
    post:
      summary: POST /tasks/{id}/claim
      description: Endpoint for /tasks/{id}/claim
  /tasks/{id}/confirm-dropoff:
    post:
      summary: POST /api/tasks/[id]/confirm-dropoff
      description: POST /api/tasks/[id]/confirm-dropoff
  /tasks/{id}/confirm-pickup:
    post:
      summary: POST /api/tasks/[id]/confirm-pickup
      description: POST /api/tasks/[id]/confirm-pickup
  /tasks/{id}/messages:
    get:
      summary: GET /tasks/{id}/messages
      description: Endpoint for /tasks/{id}/messages
    post:
      summary: POST /tasks/{id}/messages
      description: Endpoint for /tasks/{id}/messages
  /tasks/{id}/reject:
    post:
      summary: POST /tasks/{id}/reject
      description: Endpoint for /tasks/{id}/reject
  /tasks/{id}:
    get:
      summary: GET /tasks/{id}
      description: Endpoint for /tasks/{id}
  /tasks/{id}/submit-response:
    post:
      summary: POST /tasks/{id}/submit-response
      description: Endpoint for /tasks/{id}/submit-response
  /tasks/{id}/unclaim:
    post:
      summary: POST /api/tasks/[id]/unclaim
      description: POST /api/tasks/[id]/unclaim
  /tasks/{id}/update:
    put:
      summary: PUT /tasks/{id}/update
      description: Endpoint for /tasks/{id}/update
    delete:
      summary: DELETE /tasks/{id}/update
      description: Endpoint for /tasks/{id}/update
  /tasks/{id}/update-response:
    patch:
      summary: PATCH /api/tasks/[id]/update-response
      description: PATCH /api/tasks/[id]/update-response
  /tasks/{id}/verify:
    post:
      summary: POST /tasks/{id}/verify
      description: Endpoint for /tasks/{id}/verify
  /tasks/create:
    post:
      summary: POST /tasks/create
      description: Endpoint for /tasks/create
  /tasks/nearby:
    get:
      summary: GET /tasks/nearby
      description: Endpoint for /tasks/nearby
    post:
      summary: POST /tasks/nearby
      description: Endpoint for /tasks/nearby
  /tasks/public:
    get:
      summary: GET /tasks/public
      description: Endpoint for /tasks/public
  /tasks/trigger-proximity-check:
    post:
      summary: POST /tasks/trigger-proximity-check
      description: Endpoint for /tasks/trigger-proximity-check
  /telegram/create-listing:
    post:
      summary: POST /api/telegram/create-listing
      description: POST /api/telegram/create-listing
  /telegram/inbound:
    post:
      summary: Telegram inbound message handler.
      description: Telegram inbound message handler.
  /test/telegram-notify:
    post:
      summary: POST /api/test/telegram-notify
      description: POST /api/test/telegram-notify
  /thumbs/{participantId}:
    get:
      summary: GET /thumbs/{participantId}
      description: Endpoint for /thumbs/{participantId}
    post:
      summary: POST /thumbs/{participantId}
      description: Endpoint for /thumbs/{participantId}
  /upload/avatar:
    post:
      summary: POST /upload/avatar
      description: Endpoint for /upload/avatar
  /upload/place-image:
    post:
      summary: POST /upload/place-image
      description: Endpoint for /upload/place-image
    delete:
      summary: DELETE /upload/place-image
      description: Endpoint for /upload/place-image
  /upload/recipe-image:
    post:
      summary: POST /upload/recipe-image
      description: Endpoint for /upload/recipe-image
  /upload/widget-brand-image:
    post:
      summary: POST /upload/widget-brand-image
      description: Endpoint for /upload/widget-brand-image
    delete:
      summary: DELETE /upload/widget-brand-image
      description: Endpoint for /upload/widget-brand-image
  /upload-image:
    post:
      summary: POST /upload-image
      description: Endpoint for /upload-image
  /user/delete-account:
    get:
      summary: GET /user/delete-account
      description: Endpoint for /user/delete-account
    post:
      summary: POST /user/delete-account
      description: Endpoint for /user/delete-account
  /user/delivery-stats:
    get:
      summary: GET /user/delivery-stats
      description: Endpoint for /user/delivery-stats
  /user/feature-preferences:
    get:
      summary: GET /api/user/feature-preferences
      description: GET /api/user/feature-preferences
    patch:
      summary: GET /api/user/feature-preferences
      description: GET /api/user/feature-preferences
  /user/game-permissions:
    get:
      summary: GET /api/user/game-permissions
      description: GET /api/user/game-permissions
  /user/location:
    post:
      summary: POST /user/location
      description: Endpoint for /user/location
    get:
      summary: GET /user/location
      description: Endpoint for /user/location
  /user/tasks:
    get:
      summary: GET /user/tasks
      description: Endpoint for /user/tasks
  /users/{userId}/follows:
    get:
      summary: Get all entities a user follows
      description: Get all entities a user follows
  /users/me/social-links/phone/code:
    post:
      summary: POST /api/users/me/social-links/phone/code
      description: POST /api/users/me/social-links/phone/code
  /users/me/social-links/phone:
    delete:
      summary: DELETE /api/users/me/social-links/phone
      description: DELETE /api/users/me/social-links/phone
  /users/me/social-links:
    get:
      summary: GET /api/users/me/social-links
      description: GET /api/users/me/social-links
  /users/me/social-links/telegram/code:
    post:
      summary: POST /api/users/me/social-links/telegram/code
      description: POST /api/users/me/social-links/telegram/code
  /users/me/social-links/telegram:
    delete:
      summary: DELETE /api/users/me/social-links/telegram
      description: DELETE /api/users/me/social-links/telegram
  /users/search:
    get:
      summary: GET /users/search
      description: Endpoint for /users/search
  /v2/admin/business-claims/{id}:
    put:
      summary: PUT /v2/admin/business-claims/{id}
      description: Endpoint for /v2/admin/business-claims/{id}
    get:
      summary: GET /v2/admin/business-claims/{id}
      description: Endpoint for /v2/admin/business-claims/{id}
  /v2/admin/business-claims/release:
    post:
      summary: POST /v2/admin/business-claims/release
      description: Endpoint for /v2/admin/business-claims/release
  /v2/admin/business-claims:
    get:
      summary: GET /v2/admin/business-claims
      description: Endpoint for /v2/admin/business-claims
  /v2/admin/users/search:
    get:
      summary: GET /v2/admin/users/search
      description: Endpoint for /v2/admin/users/search
  /v2/associations/{slug}/campaigns:
    get:
      summary: GET /v2/associations/{slug}/campaigns
      description: Endpoint for /v2/associations/{slug}/campaigns
  /v2/associations/{slug}/chat:
    post:
      summary: POST /v2/associations/{slug}/chat
      description: Endpoint for /v2/associations/{slug}/chat
  /v2/associations/{slug}/jobs:
    get:
      summary: GET /v2/associations/{slug}/jobs
      description: Endpoint for /v2/associations/{slug}/jobs
  /v2/associations/{slug}/members:
    get:
      summary: GET /v2/associations/{slug}/members
      description: Endpoint for /v2/associations/{slug}/members
  /v2/associations/{slug}:
    get:
      summary: GET /v2/associations/{slug}
      description: Endpoint for /v2/associations/{slug}
  /v2/associations/available:
    get:
      summary: GET /v2/associations/available
      description: Endpoint for /v2/associations/available
  /v2/auth/verify-email/confirm:
    post:
      summary: POST /v2/auth/verify-email/confirm
      description: Endpoint for /v2/auth/verify-email/confirm
  /v2/auth/verify-email:
    post:
      summary: POST /v2/auth/verify-email
      description: Endpoint for /v2/auth/verify-email
  /v2/csa/budget-context:
    get:
      summary: GET /v2/csa/budget-context
      description: Endpoint for /v2/csa/budget-context
  /v2/csa/demand-map:
    get:
      summary: GET /v2/csa/demand-map
      description: Endpoint for /v2/csa/demand-map
  /v2/csa/interests/{id}/activity:
    get:
      summary: GET /v2/csa/interests/{id}/activity
      description: Endpoint for /v2/csa/interests/{id}/activity
  /v2/csa/interests/{id}/selections:
    post:
      summary: POST /v2/csa/interests/{id}/selections
      description: Endpoint for /v2/csa/interests/{id}/selections
  /v2/csa/interests/my-inquiries:
    get:
      summary: GET - Fetch all CSA inquiries for the authenticated user
      description: GET - Fetch all CSA inquiries for the authenticated user
    delete:
      summary: GET - Fetch all CSA inquiries for the authenticated user
      description: GET - Fetch all CSA inquiries for the authenticated user
  /v2/csa/interests:
    post:
      summary: POST /v2/csa/interests
      description: Endpoint for /v2/csa/interests
  /v2/csa/unclaimed-notifications/opt-out:
    post:
      summary: POST /v2/csa/unclaimed-notifications/opt-out
      description: Endpoint for /v2/csa/unclaimed-notifications/opt-out
    get:
      summary: GET /v2/csa/unclaimed-notifications/opt-out
      description: Endpoint for /v2/csa/unclaimed-notifications/opt-out
  /v2/csa-leads/{id}/quick-reply:
    post:
      summary: POST /v2/csa-leads/{id}/quick-reply
      description: Endpoint for /v2/csa-leads/{id}/quick-reply
  /v2/csa-leads/{id}:
    patch:
      summary: PATCH /v2/csa-leads/{id}
      description: Endpoint for /v2/csa-leads/{id}
  /v2/follow:
    post:
      summary: POST /v2/follow
      description: Endpoint for /v2/follow
    delete:
      summary: DELETE /v2/follow
      description: Endpoint for /v2/follow
  /v2/followed-announcements:
    get:
      summary: GET /v2/followed-announcements
      description: Endpoint for /v2/followed-announcements
  /v2/following:
    get:
      summary: GET /v2/following
      description: Endpoint for /v2/following
  /v2/metadata:
    get:
      summary: GET /v2/metadata
      description: Endpoint for /v2/metadata
  /v2/notifications/announcements:
    get:
      summary: GET /v2/notifications/announcements
      description: Endpoint for /v2/notifications/announcements
    put:
      summary: PUT /v2/notifications/announcements
      description: Endpoint for /v2/notifications/announcements
  /v2/offerings/{id}/sources:
    get:
      summary: GET /v2/offerings/{id}/sources
      description: Endpoint for /v2/offerings/{id}/sources
  /v2/participants/{id}/announcements/{announcementId}:
    put:
      summary: PUT /v2/participants/{id}/announcements/{announcementId}
      description: Endpoint for /v2/participants/{id}/announcements/{announcementId}
    delete:
      summary: DELETE /v2/participants/{id}/announcements/{announcementId}
      description: Endpoint for /v2/participants/{id}/announcements/{announcementId}
  /v2/participants/{id}/announcements:
    get:
      summary: GET /v2/participants/{id}/announcements
      description: Endpoint for /v2/participants/{id}/announcements
    post:
      summary: POST /v2/participants/{id}/announcements
      description: Endpoint for /v2/participants/{id}/announcements
  /v2/participants/{id}/associations:
    get:
      summary: GET /v2/participants/{id}/associations
      description: Endpoint for /v2/participants/{id}/associations
    post:
      summary: POST /v2/participants/{id}/associations
      description: Endpoint for /v2/participants/{id}/associations
    put:
      summary: PUT /v2/participants/{id}/associations
      description: Endpoint for /v2/participants/{id}/associations
    delete:
      summary: DELETE /v2/participants/{id}/associations
      description: Endpoint for /v2/participants/{id}/associations
  /v2/participants/{id}/capabilities:
    get:
      summary: GET /v2/participants/{id}/capabilities
      description: Endpoint for /v2/participants/{id}/capabilities
    post:
      summary: POST /v2/participants/{id}/capabilities
      description: Endpoint for /v2/participants/{id}/capabilities
    put:
      summary: PUT /v2/participants/{id}/capabilities
      description: Endpoint for /v2/participants/{id}/capabilities
  /v2/participants/{id}/challenges:
    get:
      summary: GET /v2/participants/{id}/challenges
      description: Endpoint for /v2/participants/{id}/challenges
  /v2/participants/{id}/chat:
    post:
      summary: POST /v2/participants/{id}/chat
      description: Endpoint for /v2/participants/{id}/chat
  /v2/participants/{id}/chat-metrics:
    get:
      summary: GET /v2/participants/{id}/chat-metrics
      description: Endpoint for /v2/participants/{id}/chat-metrics
  /v2/participants/{id}/claim/generate-link:
    post:
      summary: POST /v2/participants/{id}/claim/generate-link
      description: Endpoint for /v2/participants/{id}/claim/generate-link
  /v2/participants/{id}/claim:
    post:
      summary: POST /v2/participants/{id}/claim
      description: Endpoint for /v2/participants/{id}/claim
    get:
      summary: GET /v2/participants/{id}/claim
      description: Endpoint for /v2/participants/{id}/claim
  /v2/participants/{id}/connections/{connectionId}:
    put:
      summary: PUT /v2/participants/{id}/connections/{connectionId}
      description: Endpoint for /v2/participants/{id}/connections/{connectionId}
    delete:
      summary: DELETE /v2/participants/{id}/connections/{connectionId}
      description: Endpoint for /v2/participants/{id}/connections/{connectionId}
  /v2/participants/{id}/connections:
    get:
      summary: GET /v2/participants/{id}/connections
      description: Endpoint for /v2/participants/{id}/connections
    post:
      summary: POST /v2/participants/{id}/connections
      description: Endpoint for /v2/participants/{id}/connections
  /v2/participants/{id}/csa-analytics:
    get:
      summary: GET /v2/participants/{id}/csa-analytics
      description: Endpoint for /v2/participants/{id}/csa-analytics
  /v2/participants/{id}/csa-availability:
    patch:
      summary: PATCH /v2/participants/{id}/csa-availability
      description: Endpoint for /v2/participants/{id}/csa-availability
  /v2/participants/{id}/csa-demand-breakdown:
    get:
      summary: GET /v2/participants/{id}/csa-demand-breakdown
      description: Endpoint for /v2/participants/{id}/csa-demand-breakdown
  /v2/participants/{id}/csa-empty-context:
    get:
      summary: Get contextual information about why a farm has no CSA leads
      description: Get contextual information about why a farm has no CSA leads
  /v2/participants/{id}/csa-leads:
    get:
      summary: GET /v2/participants/{id}/csa-leads
      description: Endpoint for /v2/participants/{id}/csa-leads
  /v2/participants/{id}/csa-rematch:
    post:
      summary: POST /v2/participants/{id}/csa-rematch
      description: Endpoint for /v2/participants/{id}/csa-rematch
  /v2/participants/{id}/featured-in:
    get:
      summary: Get offerings that source from this participant (reverse relationship)
      description: Get offerings that source from this participant (reverse relationship)
  /v2/participants/{id}/followers:
    get:
      summary: GET /v2/participants/{id}/followers
      description: Endpoint for /v2/participants/{id}/followers
    post:
      summary: POST /v2/participants/{id}/followers
      description: Endpoint for /v2/participants/{id}/followers
  /v2/participants/{id}/games:
    get:
      summary: GET /v2/participants/{id}/games
      description: Endpoint for /v2/participants/{id}/games
  /v2/participants/{id}/messages:
    get:
      summary: GET /v2/participants/{id}/messages
      description: Endpoint for /v2/participants/{id}/messages
    post:
      summary: POST /v2/participants/{id}/messages
      description: Endpoint for /v2/participants/{id}/messages
    put:
      summary: PUT /v2/participants/{id}/messages
      description: Endpoint for /v2/participants/{id}/messages
  /v2/participants/{id}/offerings/{offeringId}:
    delete:
      summary: DELETE /v2/participants/{id}/offerings/{offeringId}
      description: Endpoint for /v2/participants/{id}/offerings/{offeringId}
    get:
      summary: GET /v2/participants/{id}/offerings/{offeringId}
      description: Endpoint for /v2/participants/{id}/offerings/{offeringId}
    put:
      summary: PUT /v2/participants/{id}/offerings/{offeringId}
      description: Endpoint for /v2/participants/{id}/offerings/{offeringId}
  /v2/participants/{id}/offerings:
    get:
      summary: GET /v2/participants/{id}/offerings
      description: Endpoint for /v2/participants/{id}/offerings
    post:
      summary: POST /v2/participants/{id}/offerings
      description: Endpoint for /v2/participants/{id}/offerings
  /v2/participants/{id}/pack-prices/{quoteId}:
    patch:
      summary: PATCH /v2/participants/{id}/pack-prices/{quoteId}
      description: Endpoint for /v2/participants/{id}/pack-prices/{quoteId}
    delete:
      summary: DELETE /v2/participants/{id}/pack-prices/{quoteId}
      description: Endpoint for /v2/participants/{id}/pack-prices/{quoteId}
  /v2/participants/{id}/pack-prices:
    get:
      summary: GET /v2/participants/{id}/pack-prices
      description: Endpoint for /v2/participants/{id}/pack-prices
    post:
      summary: POST /v2/participants/{id}/pack-prices
      description: Endpoint for /v2/participants/{id}/pack-prices
  /v2/participants/{id}/reviews:
    get:
      summary: GET /v2/participants/{id}/reviews
      description: Endpoint for /v2/participants/{id}/reviews
    post:
      summary: POST /v2/participants/{id}/reviews
      description: Endpoint for /v2/participants/{id}/reviews
    put:
      summary: PUT /v2/participants/{id}/reviews
      description: Endpoint for /v2/participants/{id}/reviews
    delete:
      summary: DELETE /v2/participants/{id}/reviews
      description: Endpoint for /v2/participants/{id}/reviews
  /v2/participants/{id}:
    get:
      summary: GET /v2/participants/{id}
      description: Endpoint for /v2/participants/{id}
    put:
      summary: PUT /v2/participants/{id}
      description: Endpoint for /v2/participants/{id}
    patch:
      summary: PATCH /v2/participants/{id}
      description: Endpoint for /v2/participants/{id}
    delete:
      summary: DELETE /v2/participants/{id}
      description: Endpoint for /v2/participants/{id}
  /v2/participants/{id}/service-locations/{locationId}/geocode:
    post:
      summary: POST /v2/participants/{id}/service-locations/{locationId}/geocode
      description: Endpoint for /v2/participants/{id}/service-locations/{locationId}/geocode
  /v2/participants/{id}/service-locations/{locationId}:
    get:
      summary: GET /v2/participants/{id}/service-locations/{locationId}
      description: Endpoint for /v2/participants/{id}/service-locations/{locationId}
    put:
      summary: PUT /v2/participants/{id}/service-locations/{locationId}
      description: Endpoint for /v2/participants/{id}/service-locations/{locationId}
    delete:
      summary: DELETE /v2/participants/{id}/service-locations/{locationId}
      description: Endpoint for /v2/participants/{id}/service-locations/{locationId}
  /v2/participants/{id}/service-locations:
    get:
      summary: GET /v2/participants/{id}/service-locations
      description: Endpoint for /v2/participants/{id}/service-locations
    post:
      summary: POST /v2/participants/{id}/service-locations
      description: Endpoint for /v2/participants/{id}/service-locations
    put:
      summary: PUT /v2/participants/{id}/service-locations
      description: Endpoint for /v2/participants/{id}/service-locations
  /v2/participants/{id}/users/{userId}:
    put:
      summary: PUT /v2/participants/{id}/users/{userId}
      description: Endpoint for /v2/participants/{id}/users/{userId}
    delete:
      summary: DELETE /v2/participants/{id}/users/{userId}
      description: Endpoint for /v2/participants/{id}/users/{userId}
  /v2/participants/{id}/users:
    get:
      summary: GET /v2/participants/{id}/users
      description: Endpoint for /v2/participants/{id}/users
    post:
      summary: POST /v2/participants/{id}/users
      description: Endpoint for /v2/participants/{id}/users
  /v2/participants/claim/{token}:
    get:
      summary: GET /v2/participants/claim/{token}
      description: Endpoint for /v2/participants/claim/{token}
    post:
      summary: POST /v2/participants/claim/{token}
      description: Endpoint for /v2/participants/claim/{token}
  /v2/participants/connection-suggestions/{id}:
    put:
      summary: PUT /v2/participants/connection-suggestions/{id}
      description: Endpoint for /v2/participants/connection-suggestions/{id}
  /v2/participants/connection-suggestions:
    post:
      summary: POST /v2/participants/connection-suggestions
      description: Endpoint for /v2/participants/connection-suggestions
    get:
      summary: GET /v2/participants/connection-suggestions
      description: Endpoint for /v2/participants/connection-suggestions
  /v2/participants/my-businesses:
    get:
      summary: Get User's Businesses
      description: Returns all businesses owned or managed by the authenticated user. Use this endpoint to get participant IDs needed for creating listings and events.
  /v2/participants/nearby:
    get:
      summary: Find Nearby Participants
      description: Find businesses within a specified radius of given coordinates.
  /v2/participants/offerings/suggestions/{id}:
    put:
      summary: PUT /v2/participants/offerings/suggestions/{id}
      description: Endpoint for /v2/participants/offerings/suggestions/{id}
  /v2/participants/personal-profile:
    get:
      summary: GET /api/v2/participants/personal-profile
      description: GET /api/v2/participants/personal-profile
  /v2/participants:
    get:
      summary: Search Participants
      description: Search and filter local food businesses by location, type, categories, and keywords.
    post:
      summary: POST /v2/participants
      description: Endpoint for /v2/participants
  /v2/participants/suggestions/{id}:
    put:
      summary: PUT /v2/participants/suggestions/{id}
      description: Endpoint for /v2/participants/suggestions/{id}
    delete:
      summary: DELETE /v2/participants/suggestions/{id}
      description: Endpoint for /v2/participants/suggestions/{id}
    patch:
      summary: PATCH /v2/participants/suggestions/{id}
      description: Endpoint for /v2/participants/suggestions/{id}
  /v2/participants/suggestions:
    post:
      summary: POST /v2/participants/suggestions
      description: Endpoint for /v2/participants/suggestions
    get:
      summary: GET /v2/participants/suggestions
      description: Endpoint for /v2/participants/suggestions
  /v2/participants/verify/{token}/mute:
    patch:
      summary: PATCH /v2/participants/verify/{token}/mute
      description: Endpoint for /v2/participants/verify/{token}/mute
  /v2/participants/verify/{token}:
    get:
      summary: GET /v2/participants/verify/{token}
      description: Endpoint for /v2/participants/verify/{token}
    post:
      summary: POST /v2/participants/verify/{token}
      description: Endpoint for /v2/participants/verify/{token}
    put:
      summary: PUT /v2/participants/verify/{token}
      description: Endpoint for /v2/participants/verify/{token}
    patch:
      summary: PATCH /v2/participants/verify/{token}
      description: Endpoint for /v2/participants/verify/{token}
  /v2/resiliency/score:
    get:
      summary: GET /v2/resiliency/score
      description: Endpoint for /v2/resiliency/score
  /v2:
    get:
      summary: GET /v2
      description: Endpoint for /v2
  /v2/search:
    get:
      summary: GET /v2/search
      description: Endpoint for /v2/search
  /v2/service-locations/bulk:
    get:
      summary: GET /api/v2/service-locations/bulk?participantIds=id1,id2,id3&purpose=CSA_PICKUP,CSA_DELIVERY
      description: GET /api/v2/service-locations/bulk?participantIds=id1,id2,id3&purpose=CSA_PICKUP,CSA_DELIVERY
  /v2/surveys/{id}/respond:
    post:
      summary: POST /v2/surveys/{id}/respond
      description: Endpoint for /v2/surveys/{id}/respond
  /v2/surveys/{id}/results:
    get:
      summary: GET /v2/surveys/{id}/results
      description: Endpoint for /v2/surveys/{id}/results
  /v2/surveys/active:
    get:
      summary: GET /v2/surveys/active
      description: Endpoint for /v2/surveys/active
  /v2/surveys/aggregate:
    get:
      summary: GET /v2/surveys/aggregate
      description: Endpoint for /v2/surveys/aggregate
  /v2/users/{userId}/suggestions:
    get:
      summary: GET /v2/users/{userId}/suggestions
      description: Endpoint for /v2/users/{userId}/suggestions
  /v2/visit/{participantId}:
    get:
      summary: GET /v2/visit/{participantId}
      description: Endpoint for /v2/visit/{participantId}
  /validation/places:
    post:
      summary: POST /validation/places
      description: Endpoint for /validation/places
    get:
      summary: GET /validation/places
      description: Endpoint for /validation/places
  /voice/twilio:
    post:
      summary: Twilio voice webhook: speech-gather loop backed by the shared chat service.
      description: Twilio voice webhook: speech-gather loop backed by the shared chat service.
  /voice/vapi:
    post:
      summary: Vapi voice-agent webhook handler.
      description: Vapi voice-agent webhook handler.
  /webhooks/{id}:
    get:
      summary: GET /webhooks/{id}
      description: Endpoint for /webhooks/{id}
    put:
      summary: PUT /webhooks/{id}
      description: Endpoint for /webhooks/{id}
    delete:
      summary: DELETE /webhooks/{id}
      description: Endpoint for /webhooks/{id}
  /webhooks/process:
    post:
      summary: POST /api/webhooks/process
      description: POST /api/webhooks/process
  /webhooks:
    get:
      summary: GET /webhooks
      description: Endpoint for /webhooks
    post:
      summary: POST /webhooks
      description: Endpoint for /webhooks
  /webhooks/stripe:
    post:
      summary: POST /webhooks/stripe
      description: Endpoint for /webhooks/stripe
  /webhooks/test:
    post:
      summary: POST /webhooks/test
      description: Endpoint for /webhooks/test
  /widget/analytics:
    get:
      summary: GET /api/widget/analytics
      description: GET /api/widget/analytics
  /widget/branding:
    get:
      summary: GET /widget/branding
      description: Endpoint for /widget/branding
    put:
      summary: PUT /widget/branding
      description: Endpoint for /widget/branding
  /widget/keys/{keyId}:
    put:
      summary: PUT /api/widget/keys/[keyId]
      description: PUT /api/widget/keys/[keyId]
    delete:
      summary: PUT /api/widget/keys/[keyId]
      description: PUT /api/widget/keys/[keyId]
  /widget/keys:
    get:
      summary: GET /api/widget/keys
      description: GET /api/widget/keys
    post:
      summary: GET /api/widget/keys
      description: GET /api/widget/keys
  /widget/listings/{id}/email-pdfs:
    post:
      summary: POST /widget/listings/{id}/email-pdfs
      description: Endpoint for /widget/listings/{id}/email-pdfs
  /widget/listings/{id}:
    patch:
      summary: PATCH /widget/listings/{id}
      description: Endpoint for /widget/listings/{id}
    delete:
      summary: DELETE /widget/listings/{id}
      description: Endpoint for /widget/listings/{id}
  /widget/listings:
    get:
      summary: GET /widget/listings
      description: Endpoint for /widget/listings
    post:
      summary: POST /widget/listings
      description: Endpoint for /widget/listings
components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: next-auth.session-token